<section class="container feelings">
    <div class="progress-myth-fact">
        <div class="progress-bar" role="progressbar"
             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <h1>Feelings Check-In Station</h1>

    <div class="panel s0">
        <p>How are you feeling today?</p>
        <div class="row text-center">
            <div class="col">
                <figure class="figure">
                    <img width="64" height="64" src="img/emojione/1f600.svg" />
                </figure>
            </div>
            <div class="col">
                <figure class="figure">
                    <img width="64" height="64" src="img/emojione/1f60f.svg" />
                </figure>
            </div>
            <div class="col">
                <figure class="figure">
                    <img width="64" height="64" src="img/emojione/1f601.svg" />
                </figure>
            </div>
            <div class="col">
                <figure class="figure">
                    <img width="64" height="64" src="img/emojione/1f60c.svg" />
                </figure>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <figure class="figure">
                    <img width="64" height="64" src="img/emojione/1f62c.svg" />
                </figure>
            </div>
            <div class="col">
                <figure class="figure">
                    <img width="64" height="64" src="img/emojione/1f642.svg" />
                </figure>
            </div>
            <div class="col">
                <figure class="figure">
                    <img width="64" height="64" src="img/emojione/1f60a.svg" />
                </figure>
            </div>
            <div class="col">
                <figure class="figure">
                    <img width="64" height="64" src="img/emojione/1f917.svg" />
                </figure>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <figure class="figure">
                    <img width="64" height="64" src="img/emojione/1f610.svg" />
                </figure>
            </div>
            <div class="col">
                <figure class="figure">
                    <img width="64" height="64" src="img/emojione/270a.svg" />
                </figure>
            </div>
            <div class="col">
                <figure class="figure">
                    <img width="64" height="64" src="img/emojione/1f625.svg" />
                </figure>
            </div>
            <div class="col">
                <figure class="figure">
                    <img width="64" height="64" src="img/emojione/1f620.svg" />
                </figure>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <figure class="figure">
                    <img width="64" height="64" src="img/emojione/1f61f.svg" />
                </figure>
            </div>
            <div class="col">
                <figure class="figure">
                    <img width="64" height="64" src="img/emojione/1f641.svg" />
                </figure>
            </div>
            <div class="col">
                <figure class="figure">
                    <img width="64" height="64" src="img/emojione/1f635.svg" />
                </figure>
            </div>
            <div class="col">
                <figure class="figure">
                    <img width="64" height="64" src="img/emojione/1f626.svg" />
                </figure>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <figure class="figure">
                    <img width="64" height="64" src="img/emojione/1f633.svg" />
                </figure>
            </div>
            <div class="col">
                <figure class="figure">
                    <img width="64" height="64" src="img/emojione/1f623.svg" />
                </figure>
            </div>
            <div class="col">
                <figure class="figure">
                    <img width="64" height="64" src="img/emojione/1f622.svg" />
                </figure>
            </div>
            <div class="col">
                <figure class="figure">
                    <img width="64" height="64" src="img/emojione/1f61e.svg" />
                </figure>
            </div>
        </div>
    </div>
</section>
