<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>WORTH &mdash; Women on the Road to Health</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.2.0.slim.min.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>

        <script src="js/common.js"></script>
        <script src="js/myth-fact.js"></script>
        <script src="js/feeling.js"></script>
        <script src="js/safety.js"></script>
        <script src="js/social-support.js"></script>

        <link rel="stylesheet" href="css/worth.css">
    </head>
    <body>
        <nav class="slide-out-menu transition">
            <div class="toggle-toc-icon">
                <img width="32" height="32"
                     src="img/book-icon.png" alt="Navigation" />
            </div>
            <div class="pull-left sidenav">
                <ol class="nav-toc"></ol>
            </div>
        </nav>

        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="container">
                        <div class="jumbotron">
                            <h1 class="display-3">
                                Welcome to WORTH
                            </h1>
                        </div>
                    </div><!-- end .container -->
                </div>

                <div class="swiper-slide">
                    <div class="container">
                        <h2>Table of Contents</h2>
                        <ol class="toc">
                        </ol>
                    </div><!-- end .container -->
                </div>
            </div>
        </div>

        <script>
        $(document).ready(function () {
            var swiper = new Swiper('.swiper-container', {
                onSlideNextStart: function() {
                    $(document).scrollTop(0);
                }
            });

            var sessionLengths = [15, 5, 0, 29, 0];

            $('.toc li>a,.nav-toc li>a').click(function(e) {
                e.preventDefault();

                var loc = e.target.href.substr(e.target.href.length - 4);

                var session = parseInt(loc.substr(0, 2))
                var slide = parseInt(loc.substr(2, 4))

                var idx = 0;
                for (var i = 1; i < session; i++) {
                    idx += sessionLengths[i - 1];
                }

                idx += slide;

                $('.sidenav').width(0);
                swiper.slideTo(idx + 1);
            });

            var showing = false;

            $('.toggle-toc-icon>img').click(function(e) {
                console.log(showing);
                if (showing) {
                    $('.sidenav').width(0);
                } else {
                    $('.sidenav').width('250px');
                }
                showing = !showing;
            });
        });
        </script>
    </body>
</html>
