<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">

        <title>WORTH &mdash; Women on the Road to Health</title>

        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />

        <link rel="stylesheet" href="css/lib/bootstrap.min.css" />

        <script src="js/lib/jquery-3.2.0.slim.min.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="js/lib/swiper/swiper.min.css" />
        <script src="js/lib/swiper/swiper.min.js"></script>

        <script>
            var sessionLengths = [S1LENGTH, S2LENGTH, S3LENGTH, S4LENGTH, S5LENGTH];
        </script>
        <script src="js/src/utils.js"></script>
        <script src="js/src/swiper-setup.js"></script>

        <script src="js/src/common.js"></script>
        <script src="js/src/myth-fact.js"></script>
        <script src="js/src/feeling.js"></script>
        <script src="js/src/safety.js"></script>
        <script src="js/src/social-support.js"></script>
        <script src="js/src/self-talk.js"></script>
        <script src="js/src/reflection.js"></script>
        <script src="js/src/i-am-worth-it.js"></script>
        <script src="js/src/things-i-am-proud-of.js"></script>
        <script src="js/src/protective-behaviors.js"></script>

        <link rel="stylesheet" href="css/worth.css" />
    </head>
    <body>
        <nav class="slide-out-menu transition">
            <div class="toggle-toc-icon">
                <img width="32" height="32"
                     src="img/book-icon.png" alt="Navigation" />
            </div>
            <div class="pull-left sidenav">
                <img id="logo" src="img/logo-worth-large.png" />
                <ol class="nav-toc"></ol>
            </div>
        </nav>

        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="container">
                        <div class="jumbotron">
                            <h1 class="display-3">
                                Welcome to WORTH
                            </h1>
                        </div>
                    </div><!-- end .container -->
                </div>

                <div class="swiper-slide">
                    <div class="container">
                        <h2>Table of Contents</h2>
                        <ol class="toc">
                        </ol>
                    </div><!-- end .container -->
                </div>
            </div>
        </div>
    </body>
</html>
