<section class="container protective-behaviors">
    <h1>{% SESSIONTITLE %}</h1>
    <h2>Page {% PAGENUM %} of {% SESSIONLENGTH %}: {% TITLE %}</h2>

    <div class="progress-myth-fact">
        <div class="progress-bar" role="progressbar"
             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div class="panel s0">
        <h3>Stuff I Do</h3>
        <p>
            There are different ways to have sex. All can be fun but
            not every choice is equally safe. Some can even be very
            risky. During this activity we'll break down what's risky
            and what's not.
        </p>
        <button type="button" class="btn btn-primary btn-block s1">
            OK. Let's go!
        </button>
    </div>

    <div class="panel s1 hidden">
        <h3>Stuff I Do</h3>
        <p>
            Which of the following things do you do?
            Click on each activity to select it.
        </p>
        <div class="form-group pb-buttons">
            <button type="button" class="btn btn-secondary btn-block pb-red">
                Sharing needles
            </button>
            <button type="button" class="btn btn-secondary btn-block pb-red">
                Unprotected anal intercourse
            </button>
            <button type="button" class="btn btn-secondary btn-block pb-red">
                Unprotected vaginal intercourse
            </button>
            <button type="button" class="btn btn-secondary btn-block pb-red">
                Unprotected oral sex on a menstruating woman
            </button>
            <button type="button" class="btn btn-secondary btn-block pb-yellow">
                Unprotected oral sex on a man
            </button>
            <button type="button" class="btn btn-secondary btn-block pb-yellow">
                Getting 'high' before sexual intercourse
            </button>
            <button type="button" class="btn btn-secondary btn-block pb-yellow">
                Unprotected oral sex on a woman (non-menstruating)
            </button>
            <button type="button" class="btn btn-secondary btn-block pb-green">
                Vaginal sex using a condom
            </button>
            <button type="button" class="btn btn-secondary btn-block pb-green">
                Oral sex on a man using a condom
            </button>
            <button type="button" class="btn btn-secondary btn-block pb-green">
                Oral sex on a woman using a latex barrier
            </button>
            <button type="button" class="btn btn-secondary btn-block pb-green">
                Masturbation (alone or with partner)
            </button>
            <button type="button" class="btn btn-secondary btn-block pb-green">
                Sex using a condom while on PrEP/PEP/ART
            </button>
        </div>

        <button type="button" class="btn btn-primary btn-block s2">
            My Score
        </button>
    </div><!-- end .panel -->

    <div class="panel hidden s2">
        <h3>Stuff I Do</h3>
        <p>
            Here's your risk level.
        </p>

        <div class="alert text-center risk-level" role="alert">
            <div class="alert-heading"></div>
            <p>
            </p>
        </div>

        <button class="btn btn-primary btn-block s3" type="submit">
            OK
        </button>
    </div>

    <div class="panel hidden s3">
        <h3>Stuff I Do</h3>
        <p>
            Now let's think about how risky you were this past
            week. Rate your level of risk for this week:
        </p>
        <div class="form-group pb-buttons-risk-rating">
            <button type="button" class="btn btn-secondary btn-block pb-green">
                Not Risky
            </button>
            <button type="button" class="btn btn-secondary btn-block pb-yellow">
                A Little Risky
            </button>
            <button type="button" class="btn btn-secondary btn-block pb-red">
                Risky
            </button>
            <button type="button" class="btn btn-secondary btn-block pb-red">
                Very Risky
            </button>
        </div>
        <p class="pb-feedback hidden">
            Thanks! It's a good idea to reflect on your level of risk
            on a regular basis.
        </p>
        <button class="btn btn-primary btn-block s4 pb-feedback hidden" type="submit">
            OK
        </button>
    </div>

    <div class="panel hidden s4">
        <h3>Things to Remember</h3>

        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls poster="img/myth-fact-poster.png">
                <source src="video/mythfact01.mp4" type="video/mp4"></source>
                <source src="video/mythfact01.webm" type="video/webm"></source>
            </video>
        </div>

        <div class="alert alert-info text-center" role="alert">
            <p>
                <strong>You're done!</strong> Swipe to move on.
            </p>
            <button class="btn btn-primary btn-block s0">I want to try again.</button>
        </div>
    </div>
</section>
