<section class="container">
    <h1>{% SESSIONTITLE %}</h1>
    <h2>Page {% PAGENUM %} of {% SESSIONLENGTH %}: {% TITLE %}</h2>
    <p>
        During today's session, "Planning for my safety and the safety
        of others", you...
    </p>
    <ul>
        <li>
            Learned all about POP, a technique that helps us solve any problem
        </li>
        <li>
            The power of positive self-talk
        </li>
        <li>
            The difference social support makes
        </li>
        <li>
            Safe sex is great sex - using condoms and the WORTH
            Fantasy Menu
        </li>
    </ul>
</section>
