<section class="container-fluid assessing-relationships">
    <span class="badge badge-default float-right">{% SESSIONNUM %}.{% PAGENUM %}</span>
    <h1>{% SESSIONTITLE %}</h1>
    <h2>{% TITLE %}</h2>

    <div class="progress-text">
        <span class="float-left text-muted">Page <span class="page-number">1</span> of <span class="page-total"></span></span>
        <span class="float-right text-muted progress-primary">83%</span>
    </div>
    <div class="clearfix"></div>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        </div>
    </div>

    <div class="alert alert-info answers-required hidden">
        Please select an answer before continuing.
    </div>
    
    <div class="panel s0">
        <div class="embed-responsive embed-responsive-16by9">
            <video preload="none" class="embed-responsive-item" controls="" poster="img/{% VIDPOSTER %}.jpg">
                <source src="video/U0xuUp3wRSU.webm" type="video/webm"></source>
            </video>
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <button class="btn btn-primary btn-block s1">Next</button>                
            </div>
        </div>
    </div>

    <div class="panel hidden s1">
        <div class="embed-responsive embed-responsive-16by9">
            <video preload="none" class="embed-responsive-item" controls="" poster="img/{% VIDPOSTER %}.jpg">
                <source src="video/y_Y66qmbuBU.webm" type="video/webm"></source>
            </video>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-secondary btn-block s0">Back</button>
            </div>
            <div class="col">
                <button class="btn btn-primary btn-block s2">Next</button>
            </div>
        </div>
    </div>

    <div class="panel s2 hidden">
        <p>
            In the past year has the situation with an intimate or sexual partner gotten so out of hand that your partner has threatened you, or that he/she threatened to harm you?
        </p>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="amr-s4-p1-q1" value="answer-1">
                Yes
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="amr-s4-p1-q1" value="answer-2">
                No
            </label>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-secondary btn-block s1">Back</button>                
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block check-answer">
                    Next
                </button>
                <button class="btn btn-primary btn-block hidden s3">Next</button>                
            </div>
        </div>
    </div>

    <div class="panel s3 hidden">
        <div class="embed-responsive embed-responsive-16by9">
            <video preload="none" class="embed-responsive-item" controls="" poster="img/{% VIDPOSTER %}.jpg">
                <source src="video/_AOUpiUqfcE.webm" type="video/webm"></source>
            </video>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-secondary btn-block s2">Back</button>
            </div>
            <div class="col">
                <button class="btn btn-primary btn-block s4">Next</button>                
            </div>
        </div>
    </div>
    <div class="panel s4 hidden">
        <p>
            In the past year has the situation with a partner gotten so out of hand that your partner has physically hurt you, for instance slapped, hit, or kicked you?
        </p>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="amr-s4-p3-q1" value="answer-1">
                Yes
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="amr-s4-p3-q1" value="answer-2">
                No
            </label>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-secondary btn-block s3">Back</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block check-answer">
                    Next
                </button>
                <button class="btn btn-primary btn-block hidden s5">Next</button>
            </div>
        </div>
    </div>
    <div class="panel s5 hidden">
        <div class="embed-responsive embed-responsive-16by9">
            <video preload="none" class="embed-responsive-item" controls="" poster="img/{% VIDPOSTER %}.jpg">
                <source src="video/7pysXIFGMh4.webm" type="video/webm"></source>
            </video>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-secondary btn-block s4">Back</button>
            </div>
            <div class="col">
                <button class="btn btn-primary btn-block s6">Next</button>                
            </div>
        </div>
    </div>
    <div class="panel s6 hidden">
        <p>
            In the past year has a partner used threats or force to make you have sex or sexually hurt you?
        </p>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="amr-s4-p5-q1" value="answer-1">
                Yes
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="amr-s4-p5-q1" value="answer-2">
                No
            </label>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-secondary btn-block s5">Back</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block check-answer">
                    Next
                </button>
                <button class="btn btn-primary btn-block hidden s7">Next</button>                
            </div>
        </div>
    </div>
    <div class="panel s7 hidden">
        <div class="embed-responsive embed-responsive-16by9">
            <video preload="none" class="embed-responsive-item" controls="" poster="img/{% VIDPOSTER %}.jpg">
                <source src="video/BuMhD2VjRN4.webm" type="video/webm"></source>
            </video>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-secondary btn-block s6">Back</button>
            </div>
            <div class="col">
                <button class="btn btn-primary btn-block s8">Next</button>                
            </div>
        </div>
    </div>
    <div class="panel s8 hidden">
        <p>
            Conversely, in the past year has the situation with your partner gotten so out of hand that you acted in a threatening way to your partner, or threatened to hurt him/her?
        </p>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="amr-s4-p7-q1" value="answer-1">
                Yes
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="amr-s4-p7-q1" value="answer-2">
                No
            </label>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-secondary btn-block s7">Back</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block check-answer">
                    Next
                </button>
                <button class="btn btn-primary btn-block hidden s9">Next</button>                
            </div>
        </div>
    </div>
    <div class="panel s9 hidden">
        <div class="embed-responsive embed-responsive-16by9">
            <video preload="none" class="embed-responsive-item" controls="" poster="img/{% VIDPOSTER %}.jpg">
                <source src="video/nE2frB0E45I.webm" type="video/webm"></source>
            </video>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-secondary btn-block s8">Back</button>
            </div>
            <div class="col">
                <button class="btn btn-primary btn-block s10">Next</button>                
            </div>
        </div>
    </div>
    <div class="panel s10 hidden">
        <p>
            In the past year has the situation with your partner gotten so out of hand that you physically hurt your partner, for example, slapped, hit or kicked your partner?
        </p>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="amr-s4-p9-q1" value="answer-1">
                Yes
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="amr-s4-p9-q1" value="answer-2">
                No
            </label>
        </div> 
        <div class="row">
            <div class="col">
                <button class="btn btn-secondary btn-block s9">Back</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block check-answer">
                    Next
                </button>
                <button class="btn btn-primary btn-block get-answers hidden s11">Next</button>                
            </div>
        </div>
    </div>
    <div class="panel s11 hidden">
        <div class="no-concerns hidden">
            <h3>My Score &mdash; No Concerns</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <video preload="none" class="embed-responsive-item" controls="" poster="img/{% VIDPOSTER %}.jpg">
                    <source src="video/x7PyQ9BKvHQ.webm" type="video/webm"></source>
                </video>
            </div>
            <div class="alert alert-success">

                From your answers, it doesn’t look like you are experiencing serious relationship conflict, but we would like you to continue learning about how to help your family or friends who may experiencing serious relationship conflict or intimate partner violence.<br/><br/>


                WORTH Transitions recognizes that violence can also occur from individuals who are not our intimate or sexual partners, including those who are supposed to protect us like a police officer, a probation officer, or a spiritual advisor. If you experienced ongoing violence from non-intimate or sexual partners in the past year, we encourage you to seek support from a trusted friend, advisor, or counselor as you work to ensure your safety.
            </div>
        </div>
        <div class="some-concerns hidden">
            <h3>My Score &mdash; Some Concerns</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <video preload="none" class="embed-responsive-item" controls="" poster="img/{% VIDPOSTER %}.jpg">
                    <source src="video/yDIK24c7sLM.webm" type="video/webm"></source>
                </video>
            </div>
            <div class="alert alert-warning">

                From your answers, it looks like there are some concerns about safety in your relationship. I’d like to go through some steps of safety planning to make sure that you are prepared in case conflict gets out of hand.<br/><br/>


                If you have found yourself in a situation with an intimate or sexual partner in the past year that has gotten out of control, or one in which you have threatened to hurt or have physically hurt your partner, we encourage you to seek counseling as you take responsibility for safety in your relationship.<br/><br/>


                WORTH Transitions recognizes that violence can also occur from individuals who are not our intimate or sexual partners, including those who are supposed to protect us like a police officer, a probation officer, or a spiritual advisor. If you experienced ongoing violence from non-intimate or sexual partners in the past year, we encourage you to seek support from a trusted friend, advisor, or counselor as you work to ensure your safety.
            </div>
        </div>
        <div class="serious-concerns hidden">
            <h3>My Score &mdash; Serious Concerns</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <video preload="none" class="embed-responsive-item" controls="" poster="img/{% VIDPOSTER %}.jpg">
                    <source src="video/UnUngUj2efQ.webm" type="video/webm"></source>
                </video>
            </div>
            <div class="alert alert-danger">

                From your answers, it looks like there is a serious concern about safety in your relationship. I’d like to go through some steps of safety planning to make sure that you are prepared in case conflict gets out of hand.<br/><br/>

                If you have found yourself in a situation with an intimate or sexual partner in the past year that has gotten out of control, or one in which you have threatened to hurt or have physically hurt your partner, we encourage you to seek counseling as you take responsibility for safety in your relationship.<br/><br/>


                WORTH Transitions recognizes that violence can also occur from individuals who are not our intimate or sexual partners, including those who are supposed to protect us like a police officer, a probation officer, or a spiritual advisor. If you experienced ongoing violence from non-intimate or sexual partners in the past year, we encourage you to seek support from a trusted friend, advisor, or counselor as you work to ensure your safety.
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-secondary btn-block s10">Back</button>
            </div>
            <div class="col">
                <h5 class="swipe-to-move-on">Swipe to move on &rarr;</h5>
            </div>
        </div>
    </div>
</section>
