<section class="container-fluid check-out-what-youve-learned">
    <span class="badge badge-default float-right">{% SESSIONNUM %}.{% PAGENUM %}</span>
    <h1>{% SESSIONTITLE %}</h1>
    <h2>{% TITLE %}</h2>

    <div class="progress-text">
        <span class="float-left text-muted">Page <span class="page-number">1</span> of <span class="page-total"></span></span>
        <span class="float-right text-muted progress-primary">83%</span>
    </div>
    <div class="clearfix"></div>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        </div>
    </div>

    <div class="alert alert-info answers-required hidden">
        Please select an answer before continuing.
    </div>
    
    <div class="panel s0">
        <p>
            What are three safer sexual behaviors that are less likely
            to transmit HIV or STDs?
        </p>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" value="answer-1" name="cowyl-0">
                Kissing, masturbation, fantasy
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" value="answer-2" name="cowyl-0">
                Unprotected oral sex, vaginal sex, masturbation
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" value="answer-3" name="cowyl-0">
                Kissing, unprotected anal intercourse, oral sex
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" value="answer-4" name="cowyl-0">
                Masturbation, unprotected vaginal sex, using sex toys
            </label>
        </div>

        <div class="alert alert-success answer-1 hidden" role="alert">
            <div class="alert-heading">Correct!</div>
            Kissing, massage, masturbation, mutual masturbation
            (using your hands on each other's genitals), and
            fantasy are all safer behaviors.
        </div>
        <div class="alert alert-danger answer-2 hidden" role="alert">
            <div class="alert-heading">Incorrect</div>
            This is incorrect. Unprotected oral sex and vaginal
            sex (if it is unprotected) are both risky
            behaviors. Kissing, massage, masturbation, mutual
            masturbation (using your hands on each other's
            genitals) and fantasy are all safer behaviors.
        </div>
        <div class="alert alert-danger answer-3 hidden" role="alert">
            <div class="alert-heading">Incorrect</div>
            Unprotected anal intercourse and oral sex (if it's
            unprotected) are both risky behaviors. Kissing,
            massage, masturbation, mutual masturbation (using your
            hands on each other's genitals), and fantasy are all
            safer behaviors.
        </div>
        <div class="alert alert-danger answer-4 hidden" role="alert">
            <div class="alert-heading">Incorrect</div>
            Unprotected vaginal sex and using sex toys (without
            condoms) are both risky behaviors. Kissing, massage,
            masturbation, mutual masturbation (using your hands on
            each other's genitals), and fantasy are all safer
            behaviors.
        </div>

        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block get-answers">
                    That's my answer
                </button>
                <button class="btn btn-primary btn-block s1 hidden">Next</button>       
            </div>
        </div>
    </div>

    <div class="panel s1 hidden">
        <p>
            True or false, having an STD increases your chance of
            becoming infected with HIV?
        </p>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="cowyl-1" value="answer-4">
                True
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="cowyl-1" value="answer-5">
                False
            </label>
        </div>

        <div class="alert alert-success answer-4 hidden" role="alert">
            <div class="alert-heading">
                Correct
            </div>
            STDs can cause blisters or sores on or around the
            genitals, and the HIV virus can enter the body through
            these sores.
        </div>
        <div class="alert alert-danger answer-5 hidden" role="alert">
            <div class="alert-heading">
                Incorrect
            </div>
            Having an STD can increase your chance of becoming infected
            with HIV. STDs can cause blisters or sores on or
            around the genitals, and the HIV virus can enter the
            body through these sores.
        </div>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s0">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block get-answers">
                    That's my answer
                </button>
                <button class="btn btn-primary btn-block s2 hidden">Next</button>                
            </div>
        </div>

    </div>

    <div class="panel s2 hidden">
        <p>
            True or false, a vaccine to prevent HIV already exists?
        </p>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="cowyl-2" value="answer-6">
                True
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="cowyl-2" value="answer-7">
                False
            </label>
        </div>

        <div class="alert alert-danger answer-6 hidden" role="alert">
            <div class="alert-heading">
                Incorrect
            </div>
            No vaccine to prevent HIV exists. For those having
            difficulty reducing their risky behaviors, a medication can be chosen
            to reduce the risk of
            acquiring HIV. This is called pre-exposure prophylaxis
            (PrEP).
        </div>
        <div class="alert alert-success answer-7 hidden" role="alert">
            <div class="alert-heading">
                Correct
            </div>
            No vaccine to prevent HIV exists. For those having
            difficulty reducing their risky behaviors, a medication can be chosen
            to reduce the risk of
            acquiring HIV. This is called pre-exposure prophylaxis
            (PrEP).
        </div>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s1">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block get-answers">
                    That's my answer
                </button>
                <button class="btn btn-primary btn-block s3 hidden">Next</button>                
            </div>
        </div>

    </div>

    <div class="panel s3 hidden">
        <p>
            True or false, female condoms can be worn up to 8
            hours before sex?
        </p>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="cowyl-3" value="answer-8">
                True
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="cowyl-3" value="answer-9">
                False
            </label>
        </div>

        <div class="alert alert-success answer-8 hidden" role="alert">
            <div class="alert-heading">
                Correct
            </div>
            The female condom can be worn up to 8 hours before
            sex. One of the benefits of female condoms is that you
            can wear them ahead of time to prepare for situations
            that can potentially lead to sex.
        </div>
        <div class="alert alert-danger answer-9 hidden" role="alert">
            <div class="alert-heading">
                Incorrect
            </div>
            The female condom can be worn up to 8 hours before
            sex. One of the benefits of female condoms is that you
            can wear them ahead of time to prepare for situations
            that can potentially lead to sex.
        </div>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s2">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block get-answers">
                    That's my answer
                </button>
                <button class="btn btn-primary btn-block s4 hidden">Next</button>                
            </div>
        </div>

    </div>

    <div class="panel s4 hidden">
        <p>
            True or false, if you are HIV+ and take your medicine
            consistently, you are less likely to pass on the virus
            during sex.
        </p>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="cowyl-4" value="answer-1">
                True
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="cowyl-4" value="answer-2">
                False
            </label>
        </div>

        <div class="alert alert-success answer-1 hidden" role="alert">
            <div class="alert-heading">
                Correct
            </div>
            Although you are less likely to pass on the virus, it
            is still very important to use condoms consistently
            to be safe.
        </div>
        <div class="alert alert-danger answer-2 hidden" role="alert">
            <div class="alert-heading">
                Incorrect
            </div>
            If you are HIV+ and take your medicine
            consistently, you are less likely to pass on the virus
            during sex. Although you are less likely to pass on the virus, it
            is still very important to use condoms consistently
            to be safe.
        </div>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s3">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block get-answers">
                    That's my answer
                </button>
                <button class="btn btn-primary btn-block s5 hidden">Next</button>                
            </div>
        </div>

    </div>

    <div class="panel s5 hidden">
        <p>
            If your partner is performing oral sex, what barrier can
            be utilized to prevent genital-mouth transmission of STIs?
        </p>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="cowyl-5" value="answer-1">
                A female condom
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="cowyl-5" value="answer-2">
                A dental dam
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="cowyl-5" value="answer-3">
                A male condom
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="cowyl-5" value="answer-4">
                You don't need to use a barrier when oral sex is
                performed on a woman.
            </label>
        </div>

        <div class="alert alert-danger answer-1 answer-3 answer-4 hidden" role="alert">
            <div class="alert-heading">
                Incorrect
            </div>
            A dental dam is the best choice.
        </div>
        <div class="alert alert-success answer-2 hidden" role="alert">
            <div class="alert-heading">
                Correct
            </div>
            A dental dam is the best choice.
        </div>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s4">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block get-answers">
                    That's my answer
                </button>
                <button class="btn btn-primary btn-block s6 hidden">Next</button>                
            </div>
        </div>

    </div>

    <div class="panel s6 hidden">
        <p>
            True or false, you can only get support from close family
            and friends.
        </p>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="cowyl-6" value="answer-1">
                True
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="cowyl-6" value="answer-2">
                False
            </label>
        </div>

        <div class="alert alert-success answer-2 hidden" role="alert">
            <div class="alert-heading">
                Correct
            </div>
            Support may be gathered from therapists, spiritual
            advisers, counselors, doctors, case managers and
            treatment program personnel, etc.
        </div>
        <div class="alert alert-danger answer-1 hidden" role="alert">
            <div class="alert-heading">
                Incorrect
            </div>
            Support may be gathered from therapists, spiritual
            advisers, counselors, doctors, case managers and
            treatment program personnel, etc.
        </div>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s5">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block get-answers">
                    That's my answer
                </button>
                <button class="btn btn-primary btn-block s7 hidden">Next</button>                
            </div>
        </div>

    </div>

    <div class="panel s7 hidden">
        <p>
            What types of social support you can receive from
            associates, neighbors, family or friends? Select all that
            apply.
        </p>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="cowyl-7" value="correct">
                Practical
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="cowyl-7" value="correct">
                Emotional
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="cowyl-7" value="correct">
                Sympathy/Empathy
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="cowyl-7" value="correct">
                Problem solving
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="cowyl-7" value="correct">
                Spiritual
            </label>
        </div>

        <div class="alert alert-info hidden" role="alert">
            <div class="alert-header">
                Great Job!
            </div>
            <strong>All</strong> these types of support
            from associates, neighbors, family and friends.
        </div>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s6">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block get-answers-checkbox-combination">
                    That's my answer
                </button>
                <button class="btn btn-primary btn-block s8 hidden">Next</button>                
            </div>
        </div>
        
    </div>

    <div class="panel s8 hidden">
        <p>
            Sex with condoms has become stale and you miss the feeling
            of not using a condom. What can you do in
            this situation to prevent HIV and STIs? Select all that
            apply.
        </p>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="cowyl-8" value="">
                Try using the Safe and Adventurous List to make safer sex fun and
                creative.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="cowyl-8" value="">
                Try using self-talk to deal with barriers and
                triggers, working together with your partner and
                sharing the responsibility for safer sex.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="cowyl-8" value="">
                Try using the problem-solving technique POP! and
                decide for yourself what you will do to keep yourself
                and your partner safe.
            </label>
        </div>

        <div class="alert alert-success answer-1 hidden" role="alert">
            <div class="alert-heading">
                Correct
            </div>
            These are all good ways to keep yourself safe.
        </div>
        <div class="alert alert-info answer-2 hidden" role="alert">
            <div class="alert-heading">
                Good job choosing a solution that works for you and your relationship!
            </div>
            Keep in mind that <strong>all</strong> the suggestions here are good ways to keep
            yourself safe.
        </div>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s7">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block get-answers-all-correct">
                    That's my answer
                </button>
                <button class="btn btn-primary btn-block s9 hidden">Next</button>                
            </div>
        </div>
    </div>

    <div class="panel s9 hidden">
        <p>
            Name the technique that uses positive "I" statements
            towards yourself to reinforce positive behaviors.
        </p>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="cowyl-9" value="answer-1">
                POP!
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="cowyl-9" value="answer-2">
                Self-Talk
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="cowyl-9" value="answer-3">
                SAFE Talk
            </label>
        </div>

        <div class="alert alert-success answer-2 hidden" role="alert">
            <div class="alert-heading">
                Correct!
            </div>
        </div>
        <div class="alert alert-danger answer-1 hidden" role="alert">
            <div class="alert-heading">
                Incorrect
            </div>
            POP is a problem solving technique. The technique
            that uses positive "I" statements towards yourself to
            reinforce positive behaviors is called "self-talk."
        </div>
        <div class="alert alert-danger answer-6 hidden" role="alert">
            <div class="alert-heading">
                Correct!
            </div>
        </div>
        <div class="alert alert-danger answer-3 hidden" role="alert">
            <div class="alert-heading">
                Incorrect
            </div>
            SAFE talk is a technique for discussing your needs
            with your partner. The technique that uses positive
            "I" statements towards yourself to reinforce positive
            behaviors is called "self-talk."
        </div>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s8">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block get-answers">
                    That's my answer
                </button>
                <button class="btn btn-primary btn-block s10 hidden">Next</button>                
            </div>
        </div>

    </div>

    <div class="panel s10 hidden">
        <p>
            What does POP stand for?
        </p>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="cowyl-10" value="answer-1">
                Preferences, Options, Problems
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="cowyl-10" value="answer-2">
                Problem, Options, Plan
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="cowyl-10" value="answer-3">
                Plan Or Panic
            </label>
        </div>

        <div class="alert alert-success answer-2 hidden" role="alert">
            <div class="alert-heading">
                Correct
            </div>
            P = PROBLEM - Define Problem and its consequences<br />
            O = OPTIONS - Brainstorm Options (weigh pros/cons)<br />
            P = PLAN OF ACTION - Come up with a Plan to act on the
            best option. Look and see how the plan is working and
            revise your plan if needed. Reward yourself for any
            progress you make.<br />
        </div>
        <div class="alert alert-danger answer-1 answer-3 hidden" role="alert">
            <div class="alert-heading">
                Incorrect
            </div>
            P = PROBLEM - Define Problem and its consequences<br />
            O = OPTIONS - Brainstorm Options (weigh pros/cons)<br />
            P = PLAN OF ACTION - Come up with a Plan to act on the
            best option. Look and see how the plan is working and
            revise your plan if needed. Reward yourself for any
            progress you make.<br />
        </div>
        <div class="alert alert-danger answer-6 hidden" role="alert">
            <div class="alert-heading">
                Incorrect
            </div>
            P = PROBLEM - Define Problem and its consequences<br />
            O = OPTIONS - Brainstorm Options (weigh pros/cons)<br />
            P = PLAN OF ACTION - Come up with a Plan to act on the
            best option. Look and see how the plan is working and
            revise your plan if needed. Reward yourself for any
            progress you make.<br />
        </div>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s9">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block get-answers">
                    That's my answer
                </button>
                <button class="btn btn-primary btn-block s11 hidden">Next</button>                
            </div>
        </div>

    </div>

    <div class="panel s11 hidden">
        <p>
            If your partner refuses to practice safer sex, name a
            strategy you could use to stay safe? Choose all that
            apply.
        </p>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="cowyl-11" value="correct">
                 Use the SAFE Talk technique
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="cowyl-11" value="correct">
                Offer an alternative for refusal or just refuse. The
                most important outcome is to stay safe and to be able
                to be firm.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="cowyl-11" value="incorrect">
                Give in this time and try to get your needs met next
                time.
            </label>
        </div>

        <div class="alert alert-info answer-6 hidden" role="alert">
            Both the SAFE Talk technique and offering an
            alternative are ways to keep yourself safe.
        </div>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s10">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block get-answers-checkbox-combination">
                    That's my answer
                </button>
                <button class="btn btn-primary btn-block s12 hidden">Next</button>
            </div>
        </div>
    </div>

    <div class="panel s12 hidden">
        <p>
            If someone experienced a traumatic event and afterwards
            experiences unwanted thoughts, continues to relive what
            initially happened, feels disconnected from things that
            used to make them feel better or safe, feels isolated or
            numb, name the type of stress disorder they may be
            experiencing.
        </p>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="cowyl-12" value="correct">
                PTSD (Post traumatic stress disorder)
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="cowyl-12" value="incorrect">
                Bad mood stress disorder
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="cowyl-12" value="incorrect">
                That person is totally fine and is not experiencing
                any stress whatsoever.
            </label>
        </div>

        <div class="alert alert-info hidden" role="alert">
            Reliving a frightening event, and feelings of
            disconnection, isolation and numbness are symptoms of
            PTSD.
            <br /><br />
            This activity is complete. Great job!
        </div>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s11">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block get-answers-checkbox-combination">
                    That's my answer
                </button>
                <h5 class="hidden swipe-to-move-on">Swipe to move on &rarr;</h5>
            </div>
        </div>
    </div>
</section>
