<section class="container fantasy-menu">
    <span class="badge badge-default float-right">{% SESSIONNUM %}.{% PAGENUM %}</span>
    <h1>{% SESSIONTITLE %}</h1>
    <h2>{% TITLE %}</h2>

    <div class="alert alert-info answers-required hidden">
        Please select an answer before continuing.
    </div>
    
    <div class="panel s0">
        <p>
            We've learned a lot about what can be risky.
            But did you know that lots of fun and sexy activities are very safe?
            This is a list of safer things you could try with your partner.
            What do you think you'd like to try? Where are you on the safe <em>and</em> adventurous scale?
        </p>
        <div class="d-flex justify-content-center">
            <div class="d-flex flex-column">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        Foot massage
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        Play with partner's hair
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        Read partner poetry
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        Wear something sexually appealing
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        Watch sexy video with partner
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        Sing partner a love song
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        Dance close with partner
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        Take a walk in the moonlight
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        Back massage
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        Describe "sexy" love scene to partner
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        Cuddle with your partner
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        Set the mood using candles and scents you and your partner like
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        Listen to "sexy" music with partner
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        Give your partner a manicure or pedicure
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        Give partner a fully body massage (clothes on)
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        Partner gives you a fully body massage (clothes on)
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        Trace partner's body with finger
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        Undress partner (slowly)
                    </label>
                </div>
            </div>
            <div class="d-flex flex-column">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        Simultaneous massage
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        Perform "strip tease" for partner
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        Shower or bathe with partner
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        Full body massage (no clothes)
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        Bring partner to orgasm with hand
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        Bring self to orgasm
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        Mutual masturbation
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        Bring partner to orgasm with mouth (with
                        flavored male condom or dental dam)
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        Bring partner to orgasm with toy (use a
                        flavored male condom or dental dam)
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        Shower or bathe with partner
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        Tell partner a fantasy
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input risky special-1" type="checkbox" value="">
                        "69" (with flavored male condom &amp; dental dam)
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input risky special-2" type="checkbox" value="">
                        Intercourse with male condom
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input risky special-3" type="checkbox" value="">
                        Intercourse with female condom
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input risky special-4" type="checkbox" value="">
                        Trace partner’s body with tongue
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input risky special-5" type="checkbox" value="">
                        Play a sexy game using games, toys or yummy
                        treats (i.e. whip cream, cherries, etc...)
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input risky special-6" type="checkbox" value="">
                        "Chef's Special" (come up with something special)
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <button class="btn btn-primary btn-block s1">That's My Answer</button>
            </div>
        </div>
    </div>
    <div class="panel s1 hidden">
        <p>
            <strong>You are: </strong> <span class="fantasy-feedback-title"></span>
        </p>
        <p class="fantasy-feedback"></p>
        <p class="fantasy-special-feedback"></p>
        <br />
        <div class="row">
            <div class="col">
                <button class="btn btn-secondary btn-block s0">Back</button>
            </div>
            <div class="col">
                <h5 class="swipe-to-move-on">Swipe to move on &rarr;</h5>
            </div>
        </div>

    </div>
</section>
