<section class="container i-am-worth-it">

    <span class="badge badge-default float-right">{% SESSIONNUM %}.{% PAGENUM %}</span>
    <h1>{% SESSIONTITLE %}</h1>
    <h2>{% TITLE %}</h2>

    <div class="panel s0">
        <div class="d-flex justify-content-center">
        
            <div class="d-flex flex-column" style="width: 33%;">
                <button type="button" class="btn btn-secondary">a Good Friend</button>
                <button type="button" class="btn btn-secondary">a Good Grandchild</button>
                <button type="button" class="btn btn-secondary">a Good Grandparent</button>
                <button type="button" class="btn btn-secondary">a Good Neighbor</button>
                <button type="button" class="btn btn-secondary">a Good Niece/Aunt/Cousin</button>
                <button type="button" class="btn btn-secondary">a Good Parent</button>
                <button type="button" class="btn btn-secondary">a Good Sister/Daughter</button>
                <button type="button" class="btn btn-secondary">a Hard Worker</button>
                <button type="button" class="btn btn-secondary">a Mentor</button>
                <button type="button" class="btn btn-secondary">a Phenomenal Woman</button>
                <button type="button" class="btn btn-secondary">a Strong Black Woman</button>
                <button type="button" class="btn btn-secondary">a Student</button>
            </div>
            
            <div class="d-flex flex-column" style="width: 33%;">
                <button type="button" class="btn btn-secondary">a Survivor</button>
                <button type="button" class="btn btn-secondary">Beautiful</button>
                <button type="button" class="btn btn-secondary">Capable</button>
                <button type="button" class="btn btn-secondary">Caring</button>
                <button type="button" class="btn btn-secondary">Compassionate</button>
                <button type="button" class="btn btn-secondary">Funny</button>
                <button type="button" class="btn btn-secondary">Honest</button>
                <button type="button" class="btn btn-secondary">Intelligent</button>
                <button type="button" class="btn btn-secondary">Kind</button>
                <button type="button" class="btn btn-secondary">Loving</button>
                <button type="button" class="btn btn-secondary">Loyal</button>
                <button type="button" class="btn btn-secondary">One-of-a-Kind</button>
            </div>
            
            <div class="d-flex flex-column" style="width: 33%;">
                <button type="button" class="btn btn-secondary">Outspoken</button>
                <button type="button" class="btn btn-secondary">Passionate</button>
                <button type="button" class="btn btn-secondary">Priceless</button>
                <button type="button" class="btn btn-secondary">Resourceful</button>
                <button type="button" class="btn btn-secondary">Responsible</button>
                <button type="button" class="btn btn-secondary">Sexy</button>
                <button type="button" class="btn btn-secondary">Shy</button>
                <button type="button" class="btn btn-secondary">Spiritual/Religious</button>
                <button type="button" class="btn btn-secondary">Strong</button>
                <button type="button" class="btn btn-secondary">Supportive</button>
                <button type="button" class="btn btn-secondary">Vulnerable</button>
            </div>
            
        </div><!-- end .justify-content-center -->

    </div><!-- end .panel -->

    <div class="card text-center nametag hidden">

        <div class="card-header">
            <h1 class="display-2">Hello</h1>
        </div>
        
        <div class="card-block">
            <h2 class="card-title display-3">I am <span class="worth-it-attr"></span></h2>
            <p class="card-text display-4">I am WORTH it!</p>
        </div>
        
        <div class="card-footer">
        </div>
        
    </div>

    <div class="panel hidden s1">
        <div class="row">
            <div class="col">
                <button class="btn btn-secondary btn-block s0">Back</button>
            </div>
            <div class="col">
                <h5 class="swipe-to-move-on">Swipe to move on &rarr;</h5>
            </div>
        </div>
    </div>
    
    
</section>
