<section class="container my-commitment-to-me">
    <span class="badge badge-default float-right">{% SESSIONNUM %}.{% PAGENUM %}</span>
    <h1>{% SESSIONTITLE %}</h1>
    <h2>{% TITLE %}</h2>

    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div class="panel s0">
        <h3>Focus on my needs</h3>
        <p>
            Choose an issue in your life that you would like to work
            on. Try to think of a goals that you can set today that
            will help you along your road to health and wellness.
        </p>
        <p>
            Take a moment to think about people you can reach out to
            for help. Consider resources available to you to help you
            reach your goal. For example, your local clinic can help
            you get medical care. A probation or parole officer might
            help you find resources. Your state may have a toll free
            information hotline you can call to find out more about
            the services in your community.
        </p>
        <p>
            If you are completing WORTH in a group, your group
            facilitator can provide help in accessing the services you
            may need.
        </p>
        <br />
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <button class="btn btn-primary btn-block s1">Next</button>
            </div>
        </div>
    </div>

    <div class="panel s1 hidden">
        <h3>What kind of support do you need?</h3>
        <div class="row">
            <div class="col">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="support-type">
                        Finding housing
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="support-type">
                        Finding a job
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="support-type">
                        Going back to school
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="support-type">
                        Getting medical care
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="support-type">
                        Getting legal help
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="support-type">
                        Finding counseling or mental health care
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="support-type">
                        finding services for the formerly incarcerated
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="support-type">
                        Getting access to clean syringes or overdose prevention
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="support-type">
                        finding help for drug and alcohol use
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="support-type">
                        Getting enough food
                    </label>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="support-type">
                        Finding or paying for childcare
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="support-type">
                        Accessing benefits
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="support-type">
                        Finding help for conflict or violence from my partner
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="support-type">
                        Managing money
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="support-type">
                        Discussing the impact of sex work
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="support-type">
                        Getting help with issues related to my child
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="support-type">
                        Finding fun things to do
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="support-type">
                        Connecting with a spiritual counselor
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="support-type">
                        Finding treatment for HIV
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="support-type">
                        Remembering to take my medication
                    </label>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s0">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block s2">
                    Next
                </button>
            </div>
        </div>
    </div>

    <div class="panel s2 hidden">
        <h3>Setting a Goal</h3>
        <p class="lead">
            Your support need is: <strong class="my-commitment-choice"></strong>
        </p>
        <p>
            What goal can you set to find help?
            Write down your goal and your plan to reach it on your worksheet.
        </p>
        
        <div class="row">
            <div class="col">
                <div>Here are some suggestions to get you started:</div>

                <ul>
                    <li>Use the internet, local library, or a toll free information hotline like 311 to gain information about services in your community</li>
<li>Talk to people in my social support network for suggestions and advice</li>
<li>Go to my local college to see if they have information sessions</li>
<li>Find and call my local clinic</li>
<li>Discover if I am eligible for assisted healthcare by applying online, by mail, or by contacting a social worker or local agency</li> 
<li>Speak with a social worker or parole officer</li>
<li>Volunteer at local organization or agencies that assist formerly incarcerated individuals</li>
<li>Look into local support groups for substances that will match my needs</li>
<li>See if I am eligible for food related social services by applying online or through a mail-in application</li>
<li>Get in touch with a social worker or local agency specializing my your benefit needs</li>
<li>Look into what services are offered at my spiritual center</li>
<li>Get in touch with the spiritual advisor of my choice to see if they are open to meeting</li>
                    <li>Set reminders for myself on your phone, notebook, alarms etc.</li>
                </ul>
            </div>
            <div class="col text-center">
                <img class="worth-icon pull-right" src="img/writing.png">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s1">
                    Back
                </button>
            </div>
            <div class="col">
                <h5 class="swipe-to-move-on">Swipe to move on &rarr;</h5>
            </div>
        </div>
        
    </div>
</section>
