<section class="container my-commitment-to-me">

    <span class="badge badge-default float-right">Slide {% PAGENUM %} of {% SESSIONLENGTH %}</span>
    <h1>{% SESSIONTITLE %}</h1>
    <h2>{% TITLE %}</h2>

    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Activity Progess</div>
    </div>

    <div class="panel s0">
        <h3>Focus on my needs</h3>
        <p>
            Choose an issue in your life that you would like to work
            on. Try to think of a goals that you can set today that
            will help you along your road to health and wellness.
        </p>
        <p>
            Take a moment to think about people you can reach out to
            for help. Consider resources available to you to help you
            reach your goal. For example, your local clinic can help
            you get medical care. A probation or parole officer might
            help you find resources. Your state may have a toll free
            information hotline you can call to find out more about
            the services in your community.
        </p>
        <p>
            If you are completing WORTH in a group, your group
            facilitator can provide help in accessing the services you
            may need.
        </p>

        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <button class="btn btn-primary btn-block s1">Next</button>
            </div>
        </div>
    </div>

    <div class="panel s1 hidden">
        <h3>What kind of support do you need?</h3>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="support-type">
                Finding housing
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="support-type">
                Finding a job
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="support-type">
                Going back to school
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="support-type">
                Getting medical care
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="support-type">
                Getting legal help
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="support-type">
                Finding counseling or mental health care
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="support-type">
                Help for the formerly incarcerated
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="support-type">
                Access to clean syringes or overdose prevention
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="support-type">
                Help with drugs and alcohol
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="support-type">
                Not enough food
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="support-type">
                Childcare
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="support-type">
                Help accessing benefits
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="support-type">
                Help for conflict or violence from my partner
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="support-type">
                Help managing money
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="support-type">
                Discussing the impact of sex work
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="support-type">
                Help with issues related to my child
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="support-type">
                Finding fun things to do
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="support-type">
                Help connecting with a spiritual counselor
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="support-type">
                Help finding treatment for HIV
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="support-type">
                Help remembering to take my medication
            </label>
        </div>

        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block s2">
                    Next
                </button>
            </div>
        </div>
    </div>

    <div class="panel s2 hidden">
        <h3>Setting a Goal</h3>
        <p>
            You need help with: <strong class="my-commitment-choice"></strong>
        </p>
        <p>
            What goal can you set to find help? Write down your goal
            and your plan to reach it on your worksheet.
        </p>
        <p>
            Here are some suggestions to get you started:
        </p>
        <ul>
            <li>talk to a counselor about my drug or alcohol use this week</li>
            <li>see a doctor for a physical or an annual OB/GYN visit</li>
            <li>seek counseling for my emotional health</li>
            <li>talk to a counselor about returning to school</li>
            <li>talk to a counselor or a case manager about finding housing</li>
            <li>talk to a counselor about violence or problems in my relationship</li>
            <li>visit a church or a house of prayer for spiritual support.</li>
        </ul>

        <img class="worth-icon" src="img/writing.png">

        <div class="alert text-center" role="alert">
            <p>
                <strong>Great job!</strong> Swipe to move on.
            </p>
        </div>

    </div>
</section>
