<section class="container myth-fact">
    <span class="badge badge-default float-right">{% SESSIONNUM %}.{% PAGENUM %}</span>
    <h1>{% SESSIONTITLE %}</h1>
    <h2>{% TITLE %}</h2>

    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div class="panel s0">
        <h3>True or False?</h3>
        <p>
            You can get HIV by kissing someone who has it.
        </p>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block myth-fact-incorrect">True</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block myth-fact-correct">False</button>
            </div>
        </div>

        <div class="alert alert-danger wrong-answer hidden" role="alert">
            <div><strong>Oops! You missed this one.</strong></div>
            <div>The answer is <strong>False.</strong> You cannot get
            HIV by kissing someone who has it. Saliva may contain HIV
            but not in sufficient quantities to transmit the
            virus. HIV, the virus that causes AIDS, is spread through
            unsafe sex and needle or syringe sharing where blood is
            passed.</div>
        </div>

        <div class="alert alert-success right-answer hidden" role="alert">
            <div><strong>Well done!</strong></div>
            <div>The answer is <strong>False.</strong> You cannot get
            HIV by kissing someone who has it. Saliva may contain HIV
            but not in sufficient quantities to transmit the
            virus. HIV, the virus that causes AIDS, is spread through
            unsafe sex and needle or syringe sharing where blood is
            passed.</div>
        </div>

        <button class="btn btn-primary btn-block s1 hidden learn-more">Learn More</button>
    </div>
    <div class="panel hidden s1">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls poster="img/poster-hiv.png">
                <source src="video/rL-1eqo4ezI.webm" type="video/webm"></source>
            </video>
        </div>
        <button class="btn btn-primary btn-block s2">
            Next
        </button>
    </div>

    <div class="panel hidden s2">
        <h3>True or False?</h3>
        <p>
            Medications today can greatly reduce the risk of
            transmitting HIV if positive or getting HIV if you are
            negative. If you are HIV+ and take your medicine
            consistently, you are less likely to pass on the virus
            during sex.
        </p>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block myth-fact-correct">True</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block myth-fact-incorrect">False</button>
            </div>
        </div>

        <div class="alert alert-danger wrong-answer hidden" role="alert">
            <div><strong>Oops! You missed this one.</strong></div>
            <div>
                The answer is <strong>True.</strong> Antiretroviral therapy slows
                down HIV replication in your body and is the most
                important way to keep yourself and your partners
                healthy. It is not a cure but can greatly reduce the
                risk of transmitting the virus to your sexual/drug
                partners. Even with antiretroviral therapy, it is
                important to consistently use condoms.
            </div>
        </div>

        <div class="alert alert-success right-answer hidden" role="alert">
            <div><strong>Well done!</strong></div>
            <div>
                The answer is <strong>True.</strong> Antiretroviral therapy slows
                down HIV replication in your body and is the most
                important ways to keep yourself and your partners
                healthy. It is not a cure but can greatly reduce the
                risk of transmitting the virus to your sexual/drug
                partners. Even with antiretroviral therapy, it is
                important to consistently use condoms.
            </div>
        </div>

        <button class="btn btn-primary btn-block s3 hidden learn-more">Learn More</button>
    </div>
    <div class="panel hidden s3">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls poster="img/poster-art-hiv.png">
                <source src="video/IisyJMxTtu4.webm" type="video/webm"></source>
            </video>
        </div>
        <button class="btn btn-primary btn-block s4">
            Next
        </button>
    </div>

    <div class="panel hidden s4">
        <h3>True or False?</h3>
        <p>
            If you have recently been exposed to HIV there is no
            reason to take medication for it.
        </p>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block myth-fact-incorrect">True</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block myth-fact-correct">False</button>
            </div>
        </div>

        <div class="alert alert-danger wrong-answer hidden" role="alert">
            <div><strong>Oops! You missed this one.</strong></div>
            <div>
                The answer is <strong>False.</strong> You can
                reduce the risk of becoming HIV positive
                by taking medications within 48 hours following
                exposure. This is called post-exposure prophylaxis or
                PEP.
            </div>
        </div>

        <div class="alert alert-success right-answer hidden" role="alert">
            <div><strong>Well done!</strong></div>
            <div>
                The answer is <strong>False.</strong> You can
                reduce the risk of becoming HIV positive
                by taking medications within 48 hours following
                exposure. This is called post-exposure prophylaxis or
                PEP.
            </div>
        </div>

        <button class="btn btn-primary btn-block s5 hidden learn-more">Learn More</button>
    </div>
    <div class="panel hidden s5">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls poster="img/poster-pep.png">
                <source src="video/ixGsGCmKTQk.webm" type="video/webm"></source>
            </video>
        </div>
        <button class="btn btn-primary btn-block s6">
            Next
        </button>
    </div>

    <div class="panel hidden s6">
        <h3>True or False?</h3>
        <p>
            As long as they are not injected, it is safe to share
            needles and "works" with others.
        </p>
        <div class="row">
            <div class="col">                
                <button type="button" class="btn btn-secondary btn-block myth-fact-incorrect">True</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block myth-fact-correct">False</button>
            </div>
        </div>

        <div class="alert alert-danger wrong-answer hidden" role="alert">
            <div><strong>Oops! You missed this one.</strong></div>
            <div>
                The answer is <strong>False.</strong>
                Sharing needles and other works when preparing to
                inject drugs increases risk of HIV infection.
            </div>
        </div>

        <div class="alert alert-success right-answer hidden" role="alert">
            <div><strong>Well done!</strong></div>
            <div>
                The answer is <strong>False.</strong>
                Sharing needles and other works when preparing to
                inject drugs increases risk of HIV infection.
            </div>
        </div>

        <button class="btn btn-primary btn-block s7 hidden learn-more">Learn More</button>
    </div>
    <div class="panel hidden s7">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls poster="img/poster-drug-hiv.png">
                <source src="video/Mdux8l2aIvs.webm" type="video/webm"></source>
            </video>
        </div>
        <button class="btn btn-primary btn-block s8">
            Next
        </button>
    </div>

    <div class="panel hidden s8">
        <h3>True or False?</h3>
        <p>
            It is easy to tell that you have chlamydia.
        </p>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block myth-fact-incorrect">True</button>
            </div>
            <div class="col">                
                <button type="button" class="btn btn-secondary btn-block myth-fact-correct">False</button>
            </div>
        </div>

        <div class="alert alert-danger wrong-answer hidden" role="alert">
            <div><strong>Oops! You missed this one.</strong></div>
            <div>
                The answer is <strong>False.</strong>
                You may not know that you are infected with chlamydia
                because you may not notice symptoms. You may be
                infected and experience no symptoms. In fact, for many
                STIs, such as chlamydia, most people transmit the
                infection without experiencing any symptoms. Chlamydia
                also has lasting effects and can lead to pelvic
                inflammatory disease, ectopic pregnancy, and
                infertility among women.
            </div>
        </div>

        <div class="alert alert-success right-answer hidden" role="alert">
            <div><strong>Well done!</strong></div>
            <div>
                The answer is <strong>False.</strong>
                You may not know that you are infected with chlamydia
                because you may not notice symptoms. You may be
                infected and experience no symptoms. In fact, for many
                STIs, such as chlamydia, most people transmit the
                infection without experiencing any symptoms. Chlamydia
                also has lasting effects and can lead to pelvic
                inflammatory disease, ectopic pregnancy, and
                infertility among women.
            </div>
        </div>

        <button class="btn btn-primary btn-block s9 hidden learn-more">Learn More</button>
    </div>
    <div class="panel hidden s9">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls poster="img/poster-chlamydia.png">
                <source src="video/XgmfoV9w97A.webm" type="video/webm"></source>
            </video>
        </div>
        <button class="btn btn-primary btn-block s10">
            Next
        </button>
    </div>

    <div class="panel hidden s10">
        <h3>True or False?</h3>
        <p>
            It is not possible to pass sexually transmitted infections
            to unborn children.
        </p>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block myth-fact-incorrect">True</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block myth-fact-correct">False</button>
            </div>
        </div>

        <div class="alert alert-danger wrong-answer hidden" role="alert">
            <div><strong>Oops! You missed this one.</strong></div>
            <div>
                The answer is <strong>False.</strong>
                A mother can pass gonorrhea to her unborn
                child. Gonorrhea can be passed on to the child during
                birth. It can cause blindness in the newborn.
            </div>
        </div>

        <div class="alert alert-success right-answer hidden" role="alert">
            <div><strong>Well done!</strong></div>
            <div>
                The answer is <strong>False.</strong>
                A mother can pass gonorrhea to her unborn
                child. Gonorrhea can be passed on to the child during
                birth. It can cause blindness in the newborn.
            </div>
        </div>

        <button class="btn btn-primary btn-block s11 hidden learn-more">Learn More</button>
    </div>
    <div class="panel hidden s11">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls poster="img/poster-mothertochild.png">
                <source src="video/aOe_qNp75l8.webm" type="video/webm"></source>
            </video>
        </div>
        <button class="btn btn-primary btn-block s12">
            Next
        </button>
    </div>

    <div class="panel hidden s12">
        <h3>True or False?</h3>
        <p>
            If you do not have any symptoms, it is not possible to
            pass on HSV-2 (genital herpes) to my partner.
        </p>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block myth-fact-incorrect">True</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block myth-fact-correct">False</button>
            </div>
        </div>

        <div class="alert alert-danger wrong-answer hidden" role="alert">
            <div><strong>Oops! You missed this one.</strong></div>
            <div>
                The answer is <strong>False.</strong>
                You do not have to have an outbreak or other symptoms
                in order to be infectious and pass HSV-2 (genital
                herpes) to a partner. HSV-2 (genital herpes) shedding
                is responsible for genital herpes transmission whether
                these episodes lead to recognized outbreaks or are
                clinically asymptomatic. In fact, up to 70% of
                transmissions can be attributed to asymptomatic
                shedding.
            </div>
        </div>

        <div class="alert alert-success right-answer hidden" role="alert">
            <div><strong>Well done!</strong></div>
            <div>
                The answer is <strong>False.</strong>
                You do not have to have an outbreak or other symptoms
                in order to be infectious and pass HSV-2 (genital
                herpes) to a partner. HSV-2 (genital herpes) shedding
                is responsible for genital herpes transmission whether
                these episodes lead to recognized outbreaks or are
                clinically asymptomatic. In fact, up to 70% of
                transmissions can be attributed to asymptomatic
                shedding.
            </div>
        </div>

        <button class="btn btn-primary btn-block s13 hidden learn-more">Learn More</button>
    </div>
    <div class="panel hidden s13">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls poster="img/poster-herpes.png">
                <source src="video/w9RYRSnUcYA.webm" type="video/webm"></source>
            </video>
        </div>
        <button class="btn btn-primary btn-block s14">
            Next
        </button>
    </div>

    <div class="panel hidden s14">
        <h3>True or False?</h3>
        <p>
            HPV (genital warts) causes cancer.
        </p>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block myth-fact-correct">True</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block myth-fact-incorrect">False</button>
            </div>
        </div>

        <div class="alert alert-danger wrong-answer hidden" role="alert">
            <div><strong>Oops! You missed this one.</strong></div>
            <div>
                The answer is <strong>True.</strong>
                HPV causes cervical cancer. Women should get an
                annual exam to receive a pap test to screen for
                evidence of HPV (genital warts) infection. HPV is
                easily transmissible and the most prevalent STI,
                particularly among young women. All boys and girls
                ages 11 or 12 years should get vaccinated.
                Catch-up vaccines are recommended for males
                through age 21 and for females through age 26, if
                they did not get vaccinated when they were
                younger.
            </div>
        </div>

        <div class="alert alert-success right-answer hidden" role="alert">
            <div><strong>Well done!</strong></div>
            <div>
                The answer is <strong>True.</strong>
                HPV causes cervical cancer. Women should get an
                annual exam to receive a pap test to screen for
                evidence of HPV (genital warts) infection. HPV is
                easily transmissible and the most prevalent STI,
                particularly among young women. All boys and girls
                ages 11 or 12 years should get vaccinated.
                Catch-up vaccines are recommended for males
                through age 21 and for females through age 26, if
                they did not get vaccinated when they were
                younger.
            </div>
        </div>

        <button class="btn btn-primary btn-block s15 hidden learn-more">Learn More</button>
    </div>
    <div class="panel hidden s15">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls poster="img/poster-hpv.png">
                <source src="video/gcCeMjn3Nmo.webm" type="video/webm"></source>
            </video>
        </div>
        <button class="btn btn-primary btn-block s16">
            Next
        </button>
    </div>

    <div class="panel hidden s16">
        <h3>True or False?</h3>
        <p>
            Having an untreated STI can increase the risk for
            acquiring HIV.
        </p>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block myth-fact-correct">True</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block myth-fact-incorrect">False</button>
            </div>
        </div>

        <div class="alert alert-danger wrong-answer hidden" role="alert">
            <div><strong>Oops! You missed this one.</strong></div>
            <div>
                The answer is <strong>True.</strong>
                Having an STI changes the cells lining the vagina,
                penis, rectum or mouth. This makes it easier for HIV
                to enter your body. If you already have an STI, you
                are MORE likely to get infected with HIV if you have
                sex with someone who has HIV and you don't use a
                condom.
            </div>
        </div>

        <div class="alert alert-success right-answer hidden" role="alert">
            <div><strong>Well done!</strong></div>
            <div>
                The answer is <strong>True.</strong>
                Having an STI changes the cells lining the vagina,
                penis, rectum or mouth. This makes it easier for HIV
                to enter your body. If you already have an STI, you
                are MORE likely to get infected with HIV if you have
                sex with someone who has HIV and you don't use a
                condom.
            </div>
        </div>

        <button class="btn btn-primary btn-block s17 hidden learn-more">Learn More</button>
    </div>
    <div class="panel hidden s17">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls poster="img/poster-sti-hiv.png">
                <source src="video/qPH9ScD1yIA.webm" type="video/webm"></source>
            </video>
        </div>
        <button class="btn btn-primary btn-block s18">
            Next
        </button>
    </div>

    <div class="panel hidden s18">
        <h3>True or False?</h3>
        <p>
            Most viral STIs cannot be cured.
        </p>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block myth-fact-correct">True</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block myth-fact-incorrect">False</button>
            </div>
        </div>

        <div class="alert alert-danger wrong-answer hidden" role="alert">
            <div><strong>Oops! You missed this one.</strong></div>
            <div>
                The answer is <strong>True.</strong>
                Once your body is infected with an STI, your body will
                always carry it.
            </div>
        </div>

        <div class="alert alert-success right-answer hidden" role="alert">
            <div><strong>Well done!</strong></div>
            <div>
                The answer is <strong>True.</strong>
                Once your body is infected with an STI, your body will
                always carry it.
            </div>
        </div>

        <button class="btn btn-primary btn-block s19 hidden learn-more">Learn More</button>
    </div>
    <div class="panel hidden s19">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls poster="img/poster-viralstis.png">
                <source src="video/Lvq8bWGoQ9U.webm" type="video/webm"></source>
            </video>
        </div>
        <button class="btn btn-primary btn-block s20">
            Next
        </button>
    </div>

    <div class="panel hidden s20">
        <h3>True or False?</h3>
        <p>
            Being high or intoxicated increases the risk of HIV/STI
            infection.
        </p>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block myth-fact-correct">True</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block myth-fact-incorrect">False</button>
            </div>
        </div>

        <div class="alert alert-danger wrong-answer hidden" role="alert">
            <div><strong>Oops! You missed this one.</strong></div>
            <div>
                The answer is <strong>True.</strong>
                Being high or intoxicated increases the risk of HIV/STI
                infection.
            </div>
        </div>

        <div class="alert alert-success right-answer hidden" role="alert">
            <div><strong>Well done!</strong></div>
            <div>
                The answer is <strong>True.</strong>
                Being high or intoxicated increases the risk of HIV/STI
                infection.
            </div>
        </div>

        <button class="btn btn-primary btn-block s21 hidden learn-more">Learn More</button>
    </div>
    <div class="panel hidden s21">
        <h4>Learn More</h4>
        <p>
            Using non-injected drugs like alcohol, marijuana, crystal meth, or
            crack cocaine reduces one’s ability to make good decisions about safe
            sex or using clean needles or works. Being intoxicated or high
            decreases one’s ability to think about protecting oneself from
            HIV/STIs. Cocaine tends to increase a person’s sex drive and to a
            degree reduces sexual inhibitions which can make condom use less likely and
            increases the likelihood of engaging in high risk sexual
            activities. Crystal meth has an effect similar to cocaine and it
            appears to be leading to increased unprotected sex and to greater
            HIV/STI transmission.
        </p>
        <p>
            Source: UF Behavioral Science and Community Health
        </p>
        <button class="btn btn-primary btn-block s22">
            Next
        </button>
    </div>

    <div class="panel hidden s22">
        <h3>True or False?</h3>
        <p>
            Many more men than women have HIV.
        </p>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block myth-fact-incorrect">True</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block myth-fact-correct">False</button>
            </div>
        </div>

        <div class="alert alert-danger wrong-answer hidden" role="alert">
            <div><strong>Oops! You missed this one.</strong></div>
            <div>
                The answer is <strong>False.</strong>
            </div>
        </div>

        <div class="alert alert-success right-answer hidden" role="alert">
            <div><strong>Well done!</strong></div>
            <div>
                The answer is <strong>False.</strong>
            </div>
        </div>

        <button class="btn btn-primary btn-block s23 hidden learn-more">Learn More</button>
    </div>
    <div class="panel hidden s23">
        <h4>Learn More</h4>
        <p>
            Women now make up about half of all the people living
            with HIV and new cases of HIV in the world.
        </p>
        <p>
            Source: PACT/Connect "Facts about HIV/STI Risks"
        </p>
        <button class="btn btn-primary btn-block s24">
            Next
        </button>
    </div>

    <div class="panel hidden s24">
        <h3>True or False?</h3>
        <p>
            New York City has the most HIV cases in the United States.
        </p>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block myth-fact-correct">True</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block myth-fact-incorrect">False</button>
            </div>
        </div>

        <div class="alert alert-danger wrong-answer hidden" role="alert">
            <div><strong>Oops! You missed this one.</strong></div>
            <div>
                The answer is <strong>True.</strong>
            </div>
        </div>

        <div class="alert alert-success right-answer hidden" role="alert">
            <div><strong>Well done!</strong></div>
            <div>
                The answer is <strong>True.</strong>
            </div>
        </div>

        <button class="btn btn-primary btn-block s25 hidden learn-more">Learn More</button>
    </div>
    <div class="panel hidden s25">
        <h4>Learn More</h4>
        <p>
            NYC has the highest number of HIV cases in the country. In
            addition, 1 in 3 people living with HIV in NYC are women,
            of which 90% are African American.
        </p>
        <p>
            Source: PACT/Connect "Facts about HIV/STI Risks"
        </p>
        <button class="btn btn-primary btn-block s26">
            Next
        </button>
    </div>

    <div class="panel hidden s26">
        <h3>True or False?</h3>
        <p>
            More women in prison and on probation are HIV positive
            than men.
        </p>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block myth-fact-correct">True</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block myth-fact-incorrect">False</button>
            </div>
        </div>

        <div class="alert alert-danger wrong-answer hidden" role="alert">
            <div><strong>Oops! You missed this one.</strong></div>
            <div>
                The answer is <strong>True.</strong>
                More women in prison and on probation are HIV positive
                than men.
            </div>
        </div>

        <div class="alert alert-success right-answer hidden" role="alert">
            <div><strong>Well done!</strong></div>
            <div>
                The answer is <strong>True.</strong>
                More women in prison and on probation are HIV positive
                than men.
            </div>
        </div>

        <button class="btn btn-primary btn-block s27 hidden learn-more">Learn More</button>
    </div>
    <div class="panel hidden s27">
        <h4>Learn More</h4>
        <p>
            In 2004, one of every 42 women in prison was diagnosed as
            HIV positive, compared to 1 of every 59 men. In addition,
            12% of men on probation in NYC are reported to be HIV
            positive. In a study of 306 women on probation in NYC in
            2012, 14% were found to be HIV positive.
        </p>
        <p>
            Sources:
            <ul>
                <li>The Sentencing Project, Women in the Criminal Justice System, May 2007</li>
                <li>PACT/Connect "Facts about HIV/STI risks" sheet</li>
            </ul>
        </p>
        <button class="btn btn-primary btn-block s28">
            Next
        </button>
    </div>

    <div class="panel hidden s28">
        <h3>Good Job!</h3>
        <p>Knowing the facts will help keep you safe.</p>

        <div class="row">
            <div class="col">
                <button class="btn btn-primary btn-block s0">I want to try again</button>
            </div>
            <div class="col">
                <h5 class="swipe-to-move-on">Swipe to move on &rarr;</h5>
            </div>
        </div>
    </div>
</section>
