<section class="container myth-fact">
    <span class="badge badge-default float-right">Slide {% PAGENUM %} of {% SESSIONLENGTH %}</span>
    <h1>{% SESSIONTITLE %}</h1>
    <h2>{% TITLE %}</h2>

    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Activity Progess</div>
    </div>

    <div class="panel s0">
        <h3>Myth/Fact</h3>
        <p>Let's play the Myth/Fact Quiz game!</p>
        <button type="button" class="btn btn-primary btn-block s1">
            Got it. Let's go!
        </button>
    </div>

    <div class="panel hidden s1">
        <h3>True or False?</h3>
        <p>
            You can get HIV by kissing someone who has it.
        </p>
        <button type="button" class="btn btn-secondary btn-block myth-fact-incorrect">True</button>
        <button type="button" class="btn btn-secondary btn-block myth-fact-correct">False</button>

        <div class="alert alert-info hidden answer" role="alert">
            <div>
                <strong>False:</strong> You cannot get HIV by kissing someone who has it.
            </div>
        </div>

        <div class="alert alert-danger text-center wrong-answer hidden" role="alert">
            <p>Oops! You missed this one.</p>
            <button class="btn btn-primary btn-block s2">
                Here's Why
            </button>
        </div>

        <div class="alert alert-success text-center right-answer hidden" role="alert">
            <p><strong>Well done!</strong> You got it right!</p>
            <button class="btn btn-primary btn-block s2">Learn More</button>
        </div>
    </div>
    <div class="panel hidden s2">
        <h3>HIV and Kissing</h3>
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls poster="img/myth-fact-poster.png">
                <source src="video/rL-1eqo4ezI.webm" type="video/webm"></source>
            </video>
        </div>
        <p>
            You cannot get HIV by kissing someone who has
            it. Saliva may contain HIV but not in
            sufficient quantities to transmit the
            virus. HIV, the virus that causes AIDS, is
            spread through unsafe sex and needle or
            syringe sharing where blood is passed.
        </p>
        <button class="btn btn-primary btn-block s3">
            OK. I got it.
        </button>
    </div>

    <div class="panel hidden s3">
        <h3>True or False?</h3>
        <p>
            Medications today can greatly reduce the risk of
            transmitting HIV if positive or getting HIV if you are
            negative. If you are HIV+ and take your medicine
            consistently, you are less likely to pass on the virus
            during sex.
        </p>
        <button type="button" class="btn btn-secondary btn-block myth-fact-correct">True</button>
        <button type="button" class="btn btn-secondary btn-block myth-fact-incorrect">False</button>

        <div class="alert alert-info hidden answer" role="alert">
            <div>
                <strong>True:</strong> Antiretroviral therapy slows
                down HIV replication in your body and is the most
                important ways to keep yourself and your partners
                healthy. It is not a cure but can greatly reduce the
                risk of transmitting the virus to your sexual/drug
                partners. Even with antiretroviral therapy, it is
                important to consistently use condoms.
            </div>
        </div>

        <div class="alert alert-danger text-center wrong-answer hidden" role="alert">
            <p>Oops! You missed this one.</p>
            <button class="btn btn-primary btn-block s4">
                Here's Why
            </button>
        </div>

        <div class="alert alert-success text-center right-answer hidden" role="alert">
            <p><strong>Well done!</strong> You got it right!</p>
            <button class="btn btn-primary btn-block s4">Learn More</button>
        </div>
    </div>
    <div class="panel hidden s4">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls poster="img/myth-fact-poster.png">
                <source src="video/IisyJMxTtu4.webm" type="video/webm"></source>
            </video>
        </div>
        <p>
            Antiretroviral therapy slows down HIV replication in your
            body and is the most important ways to keep yourself and
            your partners healthy. It is not a cure but can greatly
            reduce the risk of transmitting the virus to your
            sexual/drug partners. Even with antiretroviral therapy, it
            is important to consistently use condoms.
        </p>
        <button class="btn btn-primary btn-block s5">
            OK. I got it.
        </button>
    </div>

    <div class="panel hidden s5">
        <h3>True or False?</h3>
        <p>
            If you have been recently been exposed to HIV there is no
            reason to take medication for it.
        </p>
        <button type="button" class="btn btn-secondary btn-block myth-fact-incorrect">True</button>
        <button type="button" class="btn btn-secondary btn-block myth-fact-correct">False</button>

        <div class="alert alert-info hidden answer" role="alert">
            <div>
                <strong>False:</strong>
                This is false since you can reduce the risk of
                becoming HIV positive by taking medications within 48
                hours following exposure. This is called post-exposure
                prophylaxis or PEP.
            </div>
        </div>

        <div class="alert alert-danger text-center wrong-answer hidden" role="alert">
            <p>Oops! You missed this one.</p>
            <button class="btn btn-primary btn-block s6">
                Here's Why
            </button>
        </div>

        <div class="alert alert-success text-center right-answer hidden" role="alert">
            <p><strong>Well done!</strong> You got it right!</p>
            <button class="btn btn-primary btn-block s6">Learn More</button>
        </div>
    </div>
    <div class="panel hidden s6">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls poster="img/myth-fact-poster.png">
                <source src="video/ixGsGCmKTQk.webm" type="video/webm"></source>
            </video>
        </div>
        <p>
            This is false since you can reduce the risk of becoming
            HIV positive by taking medications within 48 hours
            following exposure. This is called post-exposure
            prophylaxis or PEP.
        </p>
        <button class="btn btn-primary btn-block s7">
            OK. I got it.
        </button>
    </div>

    <div class="panel hidden s7">
        <h3>True or False?</h3>
        <p>
            As long as they are not injected, it is safe to share
            needles and "works" with others.
        </p>
        <button type="button" class="btn btn-secondary btn-block myth-fact-incorrect">True</button>
        <button type="button" class="btn btn-secondary btn-block myth-fact-correct">False</button>

        <div class="alert alert-info hidden answer" role="alert">
            <div>
                <strong>False:</strong>
                Sharing needles and other works when preparing to
                inject drugs increases risk of HIV infection.
            </div>
        </div>

        <div class="alert alert-danger text-center wrong-answer hidden" role="alert">
            <p>Oops! You missed this one.</p>
            <button class="btn btn-primary btn-block s8">
                Here's Why
            </button>
        </div>

        <div class="alert alert-success text-center right-answer hidden" role="alert">
            <p><strong>Well done!</strong> You got it right!</p>
            <button class="btn btn-primary btn-block s8">Learn More</button>
        </div>
    </div>
    <div class="panel hidden s8">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls poster="img/myth-fact-poster.png">
                <source src="video/Mdux8l2aIvs.webm" type="video/webm"></source>
            </video>
        </div>
        <p>
            Sharing needles and other works when preparing to inject
            drugs increases risk of HIV infection.
        </p>
        <button class="btn btn-primary btn-block s9">
            OK. I got it.
        </button>
    </div>

    <div class="panel hidden s9">
        <h3>True or False?</h3>
        <p>
            It is easy to tell that you have chlamydia.
        </p>
        <button type="button" class="btn btn-secondary btn-block myth-fact-incorrect">True</button>
        <button type="button" class="btn btn-secondary btn-block myth-fact-correct">False</button>

        <div class="alert alert-info hidden answer" role="alert">
            <div>
                <strong>False:</strong>
                You may not know that you are infected with chlamydia
                because you may not notice symptoms. You may be
                infected and experience no symptoms. In fact, for many
                STIs, such as chlamydia, most people transmit the
                infection without experiencing any symptoms. Chlamydia
                also has lasting effects and can lead to pelvic
                inflammatory disease, ectopic pregnancy, and
                infertility among women.
            </div>
        </div>

        <div class="alert alert-danger text-center wrong-answer hidden" role="alert">
            <p>Oops! You missed this one.</p>
            <button class="btn btn-primary btn-block s10">
                Here's Why
            </button>
        </div>

        <div class="alert alert-success text-center right-answer hidden" role="alert">
            <p><strong>Well done!</strong> You got it right!</p>
            <button class="btn btn-primary btn-block s10">Learn More</button>
        </div>
    </div>
    <div class="panel hidden s10">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls poster="img/myth-fact-poster.png">
                <source src="video/XgmfoV9w97A.webm" type="video/webm"></source>
            </video>
        </div>
        <p>
            You may not know that you are infected with chlamydia
            because you may not notice symptoms. You may be
            infected and experience no symptoms. In fact, for many
            STIs, such as chlamydia, most people transmit the
            infection without experiencing any symptoms. Chlamydia
            also has lasting effects and can lead to pelvic
            inflammatory disease, ectopic pregnancy, and
            infertility among women.
        </p>
        <button class="btn btn-primary btn-block s11">
            OK. I got it.
        </button>
    </div>

    <div class="panel hidden s11">
        <h3>True or False?</h3>
        <p>
            It is not possible to pass sexually transmitted infections
            to unborn children.
        </p>
        <button type="button" class="btn btn-secondary btn-block myth-fact-incorrect">True</button>
        <button type="button" class="btn btn-secondary btn-block myth-fact-correct">False</button>

        <div class="alert alert-info hidden answer" role="alert">
            <div>
                <strong>False:</strong>
                A mother can pass gonorrhea to her unborn
                child. Gonorrhea can be passed on to the child during
                birth. It can cause blindness in the newborn.
            </div>
        </div>

        <div class="alert alert-danger text-center wrong-answer hidden" role="alert">
            <p>Oops! You missed this one.</p>
            <button class="btn btn-primary btn-block s12">
                Here's Why
            </button>
        </div>

        <div class="alert alert-success text-center right-answer hidden" role="alert">
            <p><strong>Well done!</strong> You got it right!</p>
            <button class="btn btn-primary btn-block s12">Learn More</button>
        </div>
    </div>
    <div class="panel hidden s12">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls poster="img/myth-fact-poster.png">
                <source src="video/aOe_qNp75l8.webm" type="video/webm"></source>
            </video>
        </div>
        <p>
            A mother can pass gonorrhea to her unborn child. Gonorrhea
            can be passed on to the child during birth. It can cause
            blindness in the newborn.
        </p>
        <button class="btn btn-primary btn-block s13">
            OK. I got it.
        </button>
    </div>

    <div class="panel hidden s13">
        <h3>True or False?</h3>
        <p>
            If you do not have any symptoms, it is not possible to
            pass on HSV-2 (genital herpes) to my partner.
        </p>
        <button type="button" class="btn btn-secondary btn-block myth-fact-incorrect">True</button>
        <button type="button" class="btn btn-secondary btn-block myth-fact-correct">False</button>

        <div class="alert alert-info hidden answer" role="alert">
            <div>
                <strong>False:</strong>
                You do not have to have an outbreak or other symptoms
                in order to be infectious and pass HSV-2 (genital
                herpes) to a partner. HSV-2 (genital herpes) shedding
                is responsible for genital herpes transmission whether
                these episodes lead to recognized outbreaks or are
                clinically asymptomatic. In fact, up to 70% of
                transmissions can be attributed to asymptomatic
                shedding.
            </div>
        </div>

        <div class="alert alert-danger text-center wrong-answer hidden" role="alert">
            <p>Oops! You missed this one.</p>
            <button class="btn btn-primary btn-block s14">
                Here's Why
            </button>
        </div>

        <div class="alert alert-success text-center right-answer hidden" role="alert">
            <p><strong>Well done!</strong> You got it right!</p>
            <button class="btn btn-primary btn-block s14">Learn More</button>
        </div>
    </div>
    <div class="panel hidden s14">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls poster="img/myth-fact-poster.png">
                <source src="video/w9RYRSnUcYA.webm" type="video/webm"></source>
            </video>
        </div>
        <p>
            You do not have to have an outbreak or other symptoms
            in order to be infectious and pass HSV-2 (genital
            herpes) to a partner. HSV-2 (genital herpes) shedding
            is responsible for genital herpes transmission whether
            these episodes lead to recognized outbreaks or are
            clinically asymptomatic. In fact, up to 70% of
            transmissions can be attributed to asymptomatic
            shedding.
        </p>
        <button class="btn btn-primary btn-block s15">
            OK. I got it.
        </button>
    </div>

    <div class="panel hidden s15">
        <h3>True or False?</h3>
        <p>
            HPV (genital warts) causes cancer.
        </p>
        <button type="button" class="btn btn-secondary btn-block myth-fact-correct">True</button>
        <button type="button" class="btn btn-secondary btn-block myth-fact-incorrect">False</button>

        <div class="alert alert-info hidden answer" role="alert">
            <div>
                <strong>True:</strong>
                    HPV causes cervical cancer. Women should get an
                    annual exam to receive a pap test to screen for
                    evidence of HPV (genital warts) infection. HPV is
                    easily transmissible and the most prevalent STI,
                    particularly among young women. All boys and girls
                    ages 11 or 12 years should get vaccinated.
                    Catch-up vaccines are recommended for males
                    through age 21 and for females through age 26, if
                    they did not get vaccinated when they were
                    younger.
                </p>
            </div>
        </div>

        <div class="alert alert-danger text-center wrong-answer hidden" role="alert">
            <p>Oops! You missed this one.</p>
            <button class="btn btn-primary btn-block s16">
                Here's Why
            </button>
        </div>

        <div class="alert alert-success text-center right-answer hidden" role="alert">
            <p><strong>Well done!</strong> You got it right!</p>
            <button class="btn btn-primary btn-block s16">Learn More</button>
        </div>
    </div>
    <div class="panel hidden s16">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls poster="img/myth-fact-poster.png">
                <source src="video/gcCeMjn3Nmo.webm" type="video/webm"></source>
            </video>
        </div>
            HPV causes cervical cancer. Women should get an
            annual exam to receive a pap test to screen for
            evidence of HPV (genital warts) infection. HPV is
            easily transmissible and the most prevalent STI,
            particularly among young women. All boys and girls
            ages 11 or 12 years should get vaccinated.
             Catch-up vaccines are recommended for males
            through age 21 and for females through age 26, if
            they did not get vaccinated when they were
            younger.
        <button class="btn btn-primary btn-block s17">
            OK. I got it.
        </button>
    </div>

    <div class="panel hidden s17">
        <h3>True or False?</h3>
        <p>
            Having an untreated STI can increase the risk for
            acquiring HIV.
        </p>
        <button type="button" class="btn btn-secondary btn-block myth-fact-correct">True</button>
        <button type="button" class="btn btn-secondary btn-block myth-fact-incorrect">False</button>

        <div class="alert alert-info hidden answer" role="alert">
            <div>
                <strong>True:</strong>
                Having an STI changes the cells lining the vagina,
                penis, rectum or mouth. This makes it easier for HIV
                to enter your body. If you already have an STI, you
                are MORE likely to get infected with HIV if you have
                sex with someone who has HIV and you don't use a
                condom.
            </div>
        </div>

        <div class="alert alert-danger text-center wrong-answer hidden" role="alert">
            <p>Oops! You missed this one.</p>
            <button class="btn btn-primary btn-block s18">
                Here's Why
            </button>
        </div>

        <div class="alert alert-success text-center right-answer hidden" role="alert">
            <p><strong>Well done!</strong> You got it right!</p>
            <button class="btn btn-primary btn-block s18">Learn More</button>
        </div>
    </div>
    <div class="panel hidden s18">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls poster="img/myth-fact-poster.png">
                <source src="video/qPH9ScD1yIA.webm" type="video/webm"></source>
            </video>
        </div>
        <p>
            Having an STI changes the cells lining the vagina, penis,
            rectum or mouth. This makes it easier for HIV to enter
            your body. If you already have an STI, you are MORE likely
            to get infected with HIV if you have sex with someone who
            has HIV and you don't use a condom.
        </p>
        <button class="btn btn-primary btn-block s19">
            OK. I got it.
        </button>
    </div>

    <div class="panel hidden s19">
        <h3>True or False?</h3>
        <p>
            Most viral STIs cannot be cured.
        </p>
        <button type="button" class="btn btn-secondary btn-block myth-fact-incorrect">True</button>
        <button type="button" class="btn btn-secondary btn-block myth-fact-correct">False</button>

        <div class="alert alert-info hidden answer" role="alert">
            <div>
                <strong>False:</strong>
                Once your body is infected with an STI, your body will
                always carry it.
            </div>
        </div>

        <div class="alert alert-danger text-center wrong-answer hidden" role="alert">
            <p>Oops! You missed this one.</p>
            <button class="btn btn-primary btn-block s20">
                Here's Why
            </button>
        </div>

        <div class="alert alert-success text-center right-answer hidden" role="alert">
            <p><strong>Well done!</strong> You got it right!</p>
            <button class="btn btn-primary btn-block s20">Learn More</button>
        </div>
    </div>
    <div class="panel hidden s20">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls poster="img/myth-fact-poster.png">
                <source src="video/Lvq8bWGoQ9U.webm" type="video/webm"></source>
            </video>
        </div>
        <p>
            Once your body is infected with an STI, your body will
            always carry it.
        </p>
        <button class="btn btn-primary btn-block s21">
            OK. I got it.
        </button>
    </div>

    <div class="panel hidden s21">
        <h3>True or False?</h3>
        <p>
            Being high or intoxicated increases the risk of HIV/STI
            infection.
        </p>
        <button type="button" class="btn btn-secondary btn-block myth-fact-correct">True</button>
        <button type="button" class="btn btn-secondary btn-block myth-fact-incorrect">False</button>

        <div class="alert alert-info hidden answer" role="alert">
            <div>
                <strong>True:</strong>
                Using non-injected drugs like alcohol, marijuana,
                crystal meth, or crack cocaine reduces one’s ability
                to make good decisions about safe sex or using clean
                needles or works. Being intoxicated or high decreases
                one’s ability to think about protecting themselves
                from HIV/STIs. Cocaine tends to increase a person’s
                sex drive and to a degree sexual inhibitions which can
                make condom use less likely or and increases the
                likelihood of engaging in high risk sexual
                activities. Crystal meth has an effect similar to
                cocaine and it appears to be leading to increased
                unprotected sex and to greater HIV/STI transmission.
            </div>
        </div>

        <div class="alert alert-danger text-center wrong-answer hidden" role="alert">
            <p>Oops! You missed this one.</p>
            <button class="btn btn-primary btn-block s22">
                Here's Why
            </button>
        </div>

        <div class="alert alert-success text-center right-answer hidden" role="alert">
            <p><strong>Well done!</strong> You got it right!</p>
            <button class="btn btn-primary btn-block s22">Learn More</button>
        </div>
    </div>
    <div class="panel hidden s22">
        <p>
            Using non-injected drugs like alcohol, marijuana, crystal meth, or
            crack cocaine reduces one’s ability to make good decisions about safe
            sex or using clean needles or works. Being intoxicated or high
            decreases one’s ability to think about protecting themselves from
            HIV/STIs. Cocaine tends to increase a person’s sex drive and to a
            degree sexual inhibitions which can make condom use less likely or and
            increases the likelihood of engaging in high risk sexual
            activities. Crystal meth has an effect similar to cocaine and it
            appears to be leading to increased unprotected sex and to greater
            HIV/STI transmission.
        </p>
        <p>
            Source: UF Behavioral Science and Community Health;
            <a href="https://www.youtube.com/watch?v=8YjELcteCuA">https://www.youtube.com/watch?v=8YjELcteCuA</a>
        </p>
        <button class="btn btn-primary btn-block s23">
            OK. I got it.
        </button>
    </div>

    <div class="panel hidden s23">
        <h3>True or False?</h3>
        <p>
            Many more men than women have HIV.
        </p>
        <button type="button" class="btn btn-secondary btn-block myth-fact-incorrect">True</button>
        <button type="button" class="btn btn-secondary btn-block myth-fact-correct">False</button>

        <div class="alert alert-info hidden answer" role="alert">
            <div>
                <strong>False:</strong>
                Women now make up about half of all the people living
                with HIV and new cases of HIV in the world.
            </div>
        </div>

        <div class="alert alert-danger text-center wrong-answer hidden" role="alert">
            <p>Oops! You missed this one.</p>
            <button class="btn btn-primary btn-block s24">
                Here's Why
            </button>
        </div>

        <div class="alert alert-success text-center right-answer hidden" role="alert">
            <p><strong>Well done!</strong> You got it right!</p>
            <button class="btn btn-primary btn-block s24">Learn More</button>
        </div>
    </div>
    <div class="panel hidden s24">
        <p>
            Women now make up about half of all the people living
            with HIV and new cases of HIV in the world.
        </p>
        <p>
            Source: taken from PACT/Connect "Facts about HIV/STI
            risks" sheet
        </p>
        <button class="btn btn-primary btn-block s25">
            OK. I got it.
        </button>
    </div>

    <div class="panel hidden s25">
        <h3>True or False?</h3>
        <p>
            New York City has the most HIV cases in the United States.
        </p>
        <button type="button" class="btn btn-secondary btn-block myth-fact-correct">True</button>
        <button type="button" class="btn btn-secondary btn-block myth-fact-incorrect">False</button>

        <div class="alert alert-info hidden answer" role="alert">
            <div>
                <strong>True:</strong>
                NYC has the highest number of HIV cases in the
                country. In addition, 1 in 3 people living with HIV in
                NYC are women, of which 90% are African American.
            </div>
        </div>

        <div class="alert alert-danger text-center wrong-answer hidden" role="alert">
            <p>Oops! You missed this one.</p>
            <button class="btn btn-primary btn-block s26">
                Here's Why
            </button>
        </div>

        <div class="alert alert-success text-center right-answer hidden" role="alert">
            <p><strong>Well done!</strong> You got it right!</p>
            <button class="btn btn-primary btn-block s26">Learn More</button>
        </div>
    </div>
    <div class="panel hidden s26">
        <p>
            NYC has the highest number of HIV cases in the country. In
            addition, 1 in 3 people living with HIV in NYC are women,
            of which 90% are African American.
        </p>
        <p>
            Source: taken from PACT/Connect "Facts about HIV/STI risks" sheet
        </p>
        <button class="btn btn-primary btn-block s27">
            OK. I got it.
        </button>
    </div>

    <div class="panel hidden s27">
        <h3>True or False?</h3>
        <p>
            More women in prison and on probation are HIV positive
            than men.
        </p>
        <button type="button" class="btn btn-secondary btn-block myth-fact-correct">True</button>
        <button type="button" class="btn btn-secondary btn-block myth-fact-incorrect">False</button>

        <div class="alert alert-info hidden answer" role="alert">
            <div>
                <strong>True:</strong>
                In 2004, one of every 42 women in prison was diagnosed
                as HIV positive, compared to 1 of every 59 men. In
                addition, 12% of men on probation in NYC are reported
                to be HIV positive. In a study of 306 women on
                probation in NYC in 2012, 14% were found to be HIV
                positive.
            </div>
        </div>

        <div class="alert alert-danger text-center wrong-answer hidden" role="alert">
            <p>Oops! You missed this one.</p>
            <button class="btn btn-primary btn-block s28">
                Here's Why
            </button>
        </div>

        <div class="alert alert-success text-center right-answer hidden" role="alert">
            <p><strong>Well done!</strong> You got it right!</p>
            <button class="btn btn-primary btn-block s28">Learn More</button>
        </div>
    </div>
    <div class="panel hidden s28">
        <p>
            In 2004, one of every 42 women in prison was diagnosed as
            HIV positive, compared to 1 of every 59 men. In addition,
            12% of men on probation in NYC are reported to be HIV
            positive. In a study of 306 women on probation in NYC in
            2012, 14% were found to be HIV positive.
        </p>
        <p>
            Sources:
            <ul>
                <li><a href="http://www.sentencingproject.org/doc/publications/womenincj_total.pdf">http://www.sentencingproject.org/doc/publications/womenincj_total.pdf</li>
                <li>PACT/Connect "Facts about HIV/STI risks" sheet</li>
            </ul>
        </p>
        <button class="btn btn-primary btn-block s29">
            OK. I got it.
        </button>
    </div>

    <div class="panel hidden s29">
        <h3>Good Job!</h3>
        <p>Knowing the facts will help keep you safe.</p>
        <div class="alert alert-info text-center" role="alert">
            <p>
                <strong>You're done!</strong> Swipe to move on.
            </p>
            <button class="btn btn-primary btn-block s0">I want to try again.</button>
        </div>
    </div>
</section>
