<section class="container popping-our-problems">
    <span class="badge badge-default float-right">{% SESSIONNUM %}.{% PAGENUM %}</span>
    <h1>{% SESSIONTITLE %}</h1>
    <h2>{% TITLE %}</h2>

    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Activity Progess</div>
    </div>
    <div class="panel s0">
        <p>
             Let's look at how Mia used the POP technique.
        </p>

        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block s1">
                    Next
                </button>
            </div>
        </div>
    </div>

    <div class="panel hidden s1">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls="" poster="img/mia.jpg">
                 <source src="video/PCm9LqoRSGY.webm" type="video/webm"></source>
            </video>
        </div>
        
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s0">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block s2">
                    Next
                </button>
            </div>
        </div>
    </div>

    <div class="panel hidden s2">
        <p>
             What problems does Mia discuss in this clip?
        </p>

        <fieldset class="form-group">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="pop-s3-p2-q1"
                           id="optionsRadios1" value="option1">
                    Mia stated that she had no problems at all with Jose.
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input show-correct" name="pop-s3-p2-q1"
                           id="optionsRadios2" value="option2">
                    Mia was not sure how to get Jose to use condoms after he is released from prison.
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input show-correct" name="pop-s3-p2-q1"
                           id="optionsRadios3" value="option3">
                    Mia was worried that Jose’s friends, the ones with
                    whom he uses drugs, might start hanging out at the
                    house again.
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input show-correct" name="pop-s3-p2-q1"
                           id="optionsRadios3" value="option4">
                    Mia was worried that she did not want to start
                    using drugs again or go back to prison.
                </label>
            </div>
        </fieldset>

        <div class="alert text-center hidden" role="alert">
            <p>
                <strong>Great job!</strong> Correct answers are marked
                in green.
            </p>
        </div>
        
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s1">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary btn-block">
                    That's my answer
                </button>
                <button class="btn btn-primary btn-block s3 hidden">Next</button>
            </div>
        </div>
    </div>

    <div class="panel hidden s3">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls="" poster="img/mia.jpg">
                 <source src="video/CzhMdOFi4KU.webm" type="video/webm"></source>
            </video>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s2">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block s4">
                    Next
                </button>
            </div>
         </div>
    </div>

    <div class="panel hidden s4">
        <p>
            What options does Mia discuss?
        </p>
        <fieldset class="form-group">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input"
                           name="pop-s3-p4-q1"
                           value="">
                    Mia discussed an option of breaking up with Jose
                    just to avoid discussing her problems.
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input show-correct"
                           name="pop-s3-p4-q1"
                           value="">
                    Mia discussed an option of taking Jose somewhere
                    special to talk.
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input show-correct"
                           name="pop-s3-p4-q1"
                           value="">
                    Mia discussed an option of getting Jose in the
                    mood first before talking to him.
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input"
                           name="pop-s3-p4-q1"
                           value="">
                    Mia discussed an option of not talking Jose at all
                    because she was not sure how to begin the
                    conversation.
                </label>
            </div>
        </fieldset>

        <div class="alert text-center hidden" role="alert">
            <p>
                <strong>Great job!</strong> Correct answers are marked
                in green.
            </p>
        </div>
        
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s3">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary btn-block get-answers">
                    That's my answer
                </button>
                <button class="btn btn-primary btn-block s5 hidden">Next</button>
            </div>
        </div>
    </div>

    <div class="panel hidden s5">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls="" poster="img/mia.jpg">
                 <source src="video/X1AfCKq_Z0Y.webm" type="video/webm"></source>
            </video>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s4">
                    Back
                </button>
            </div>
            <div class="col">
                <button class="btn btn-primary btn-block s6">Next</button>
            </div>
        </div>
    </div>

    <div class="panel hidden s6">
        <p>
            What is Mia's plan?
        </p>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input show-correct" type="checkbox" value="" name="pop-s3-p6-q1">
                Mia plans to tell Jose how much she loves him and how
                much she wants both of them to stay sober and safe.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" name="pop-s3-p6-q1">
                Mia plans to move from her apartment before Jose is
                released from prison in order to avoid having a
                conversation with him.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" name="pop-s3-p6-q1">
                Mia plans to start using drugs again and does not plan
                to get tested. She also does not plan to ask Jose to
                get tested.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input show-correct" type="checkbox" value="" name="pop-s3-p6-q1">
                Mia could go to the clinic as often as she needs to or
                call an emergency hotline whenever she wants.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input show-correct" type="checkbox" value="" name="pop-s3-p6-q1">
                Mia could go to her church.
            </label>
        </div>

        <div class="alert text-center hidden" role="alert">
            <p>
                <strong>Great job!</strong>
                Correct answers are marked in green. Swipe to move on.
            </p>
        </div>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s5">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary btn-block get-answers">
                    That's my answer
                </button>
            </div>
        </div>
    </div>
</section>
