<section class="container-fluid practicing-pop">
    <span class="badge badge-default float-right">{% SESSIONNUM %}.{% PAGENUM %}</span>
    <h1>{% SESSIONTITLE %}</h1>
    <h2>{% TITLE %}</h2>

    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div class="alert alert-info answers-required hidden">
        Please select an answer before continuing.
    </div>

    <div class="panel s0">
        <p>
            Now we'll break down the POP technique, just like we did with Mia's story last week. We'll look at how Sofia worked through the three steps of POP. 
            You'll watch three clips. Listen closely because after each clip you'll be asked to identify what Sofia did. Let's start now.
        </p>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary btn-block s1">
                    Begin
                </button>
            </div>
        </div>
    </div>

    <div class="panel hidden s1">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls="" poster="img/sofia.jpg">
                 <source src="video/p72jKZViN7Q.webm" type="video/webm"></source>
            </video>
        </div>
        
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s0">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block s2">
                    Next
                </button>
            </div>
        </div>
    </div>

    <div class="panel hidden s2">
        <p>
            What problems does Sofia discuss in this clip? Select all that apply.
        </p>

        <fieldset class="form-group">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input show-correct" name="pop-s4-p2-q1"
                           value="pop-s4-p2-q1-response">
                    The sexual assault Sofia experienced and how much she has been drinking.
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input show-correct" name="pop-s4-p2-q1"
                           value="pop-s4-p2-q1-response">
                    Sofia keeps asking her friend Chloe for more and more Xanax
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="pop-s4-p2-q1"
                           value="pop-s4-p2-q1-response">
                    Sofia is totally fine and has no problems.
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input show-correct" name="pop-s4-p2-q1"
                           value="pop-s4-p2-q1-response">
                    Sofia wants to stop remembering painful stuff over and over and stop
                    using so much Xanax.
                </label>
            </div>
        </fieldset>

        <div class="alert alert-info hidden pop-s4-p2-q1-response" role="alert">
            <strong>Great job!</strong> Correct answers are marked
            in green.
        </div>
        
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s1">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block get-answers">
                    That's my answer
                </button>
                <button class="btn btn-primary btn-block s3 hidden">Next</button>
            </div>
        </div>
    </div>

    <div class="panel hidden s3">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls="" poster="img/sofia.jpg">
                 <source src="video/aehv1utqM7o.webm" type="video/webm"></source>
            </video>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s2">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block s4">
                    Next
                </button>
            </div>
         </div>
    </div>

    <div class="panel hidden s4">
        <p>
            What options does Sofia discuss? Select all that apply.
        </p>
        <fieldset class="form-group">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input show-correct"
                           name="pop-s4-p4-q1"
                           value="pop-s4-p4-q1-response">
                    Sofia could go to the clinic Chloe uses to receive
                    all kinds of services.
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input show-correct"
                           name="pop-s4-p4-q1"
                           value="pop-s4-p4-q1-response">
                    Sofia could ask for help regarding her use of
                    Xanax while at the clinic.
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input show-correct"
                           name="pop-s4-p4-q1"
                           value="pop-s4-p4-q1-response">
                    Sofia could get tested for HIV while at the clinic.
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input show-correct"
                           name="pop-s4-p4-q1"
                           value="pop-s4-p4-q1-response">
                    Sofia and Raff could go to the clinic together and
                    discuss the fact that she wants to use condoms.
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input"
                           name="pop-s4-p4-q1"
                           value="pop-s4-p4-q1-response">
                    Sofia does not have any options at all.
                </label>
            </div>
        </fieldset>

        <div class="alert alert-info pop-s4-p4-q1-response hidden" role="alert">
            <strong>Great job!</strong> Correct answers are marked
            in green.
        </div>
        
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s3">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block get-answers">
                    That's my answer
                </button>
                <button class="btn btn-primary btn-block s5 hidden">Next</button>
            </div>
        </div>
    </div>

    <div class="panel hidden s5">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls="" poster="img/sofia.jpg">
                 <source src="video/xwldxYtjD0I.webm" type="video/webm"></source>
            </video>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s4">
                    Back
                </button>
            </div>
            <div class="col">
                <button class="btn btn-primary btn-block s6">Next</button>
            </div>
        </div>
    </div>

    <div class="panel hidden s6">
        <p>
            What does Sofia plan to do? Select all that apply.
        </p>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="pop-s4-p6-q1-response" name="pop-s4-p6-q1">
                Sofia does not plan to do anything. She will try her
                best to forget what happened.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input show-correct" type="checkbox" value="pop-s4-p6-q1-response" name="pop-s4-p6-q1">
                Sofia plans to go to the clinic.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input show-correct" type="checkbox" value="pop-s4-p6-q1-response" name="pop-s4-p6-q1">
                Sofia plans to get tested while at the clinic.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input show-correct" type="checkbox" value="pop-s4-p6-q1-response" name="pop-s4-p6-q1">
                Sofia plans to ask for advice while at the clinic
                about how to let Raff know how much she cares about
                him and how much she wants him to get tested for HIV
                too.
            </label>
        </div>
        <div class="alert alert-info pop-s4-p6-q1-response hidden" role="alert">
            <strong>Great job!</strong>
            Correct answers are marked in green.
        </div>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s5">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block get-answers">
                    That's my answer
                </button>
                <h5 class="hidden swipe-to-move-on">Swipe to move on &rarr;</h5>
            </div>
        </div>
    </div>
</section>
