<section class="container practicing-negotiation-1">
    <span class="badge badge-default float-right">Slide {% PAGENUM %} of {% SESSIONLENGTH %}</span>
    <h1>{% SESSIONTITLE %}</h1>
    <h2>{% TITLE %}</h2>

    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Activity Progess</div>
    </div>

    <div class="panel s0">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls="" poster="img/{% VIDPOSTER %}.jpg">
                <source src="video/qQr7B5dqC4M.webm" type="video/webm"></source>
            </video>
        </div>

        <button type="button" class="btn btn-primary btn-block s1">
            Continue
        </button>
    </div>

    <div class="panel s1 hidden">
        <p>
            Let’s identify the techniques the woman in the video used to negotiate. What did you see?. Select all the answers that apply:
        </p>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="pn1-s4-p1-q1" value="answer-1">
                She said what she wanted. 
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="pn1-s4-p1-q1" value="answer-2">
                She told her partner how she felt about condom use.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="pn1-s4-p1-q1" value="answer-3">
                She made sure she was not under the influence of drugs or alcohol.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="pn1-s4-p1-q1" value="answer-4">
                She dismissed what her partner said.
            </label>
        </div>

        <button type="button" class="btn btn-primary btn-block get-answers">
            That's my answer
        </button>

        <div class="alert alert-success answer-1 hidden" role="alert">
            <div class="alert-heading">Correct.</div>
            <button type="button" class="btn btn-primary btn-block s2">
                OK
            </button>
        </div>
        <div class="alert alert-success answer-2 hidden" role="alert">
            <div class="alert-heading">Correct.</div>
            <button type="button" class="btn btn-primary btn-block s2">
                OK
            </button>
        </div>
        <div class="alert alert-success answer-3 hidden" role="alert">
            <div class="alert-heading">Correct.</div>
            <button type="button" class="btn btn-primary btn-block s2">
                OK
            </button>
        </div>
        <div class="alert alert-danger answer-4 hidden" role="alert">
            <div class="alert-heading">Incorrect.</div>
            <button type="button" class="btn btn-primary btn-block s2">
                OK
            </button>
        </div>
    </div>

    <div class="panel s2 hidden">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls="" poster="img/{% VIDPOSTER %}.jpg">
                <source src="video/did4aeX26SQ.webm" type="video/webm"></source>
            </video>
        </div>

        <button type="button" class="btn btn-primary btn-block s3">
            OK
        </button>
    </div>
    <div class="panel s3 hidden">
        <p>
            Which techniques did she use here?
        </p>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="pn1-s4-p3-q1" value="answer-1">
                She stood up for what she felt.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="pn1-s4-p3-q1" value="answer-2">
                She repeated what she wanted as often as needed.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="pn1-s4-p3-q1" value="answer-3">
                She gave into her partner's requests and had unprotected sex.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="pn1-s4-p3-q1" value="answer-4">
                She was honest about her needs.
            </label>
        </div>

        <button type="button" class="btn btn-primary btn-block get-answers">
            That's my answer
        </button>

        <div class="alert alert-success answer-1 hidden" role="alert">
            <div class="alert-heading">Correct.</div>
            <button type="button" class="btn btn-primary btn-block s4">
                OK
            </button>
        </div>
        <div class="alert alert-success answer-2 hidden" role="alert">
            <div class="alert-heading">Correct.</div>
            <button type="button" class="btn btn-primary btn-block s4">
                OK
            </button>
        </div>
        <div class="alert alert-danger answer-3 hidden" role="alert">
            <div class="alert-heading">Incorrect.</div>
            <button type="button" class="btn btn-primary btn-block s4">
                OK
            </button>
        </div>
        <div class="alert alert-success answer-4 hidden" role="alert">
            <div class="alert-heading">Correct.</div>
            <button type="button" class="btn btn-primary btn-block s4">
                OK
            </button>
        </div>
    </div>
    <div class="panel s4 hidden">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls="" poster="img/{% VIDPOSTER %}.jpg">
                <source src="video/VsLzGsKTUWw.webm" type="video/webm"></source>
            </video>
        </div>

        <button type="button" class="btn btn-primary btn-block s5">
            OK
        </button>
    </div>
    <div class="panel s5 hidden">
        <p>
            How did she influence her partner to use a condom?
        </p>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="pn1-s4-p5-q1" value="answer-1">
                She ignored her feelings and her need to be safe in order to please her partner.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="pn1-s4-p5-q1" value="answer-2">
                She made a decision about when and where to discuss condom use.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="pn1-s4-p5-q1" value="answer-3">
                She found something positive in what her partner said.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="pn1-s4-p5-q1" value="answer-4">
                She started the conversation on a positive note.
            </label>
        </div>

        <button type="button" class="btn btn-primary btn-block get-answers">
            That's my answer
        </button>

        <div class="alert alert-danger answer-1 hidden" role="alert">
            <div class="alert-heading">Incorrect.</div>
        </div>
        <div class="alert alert-success answer-2 hidden" role="alert">
            <div class="alert-heading">Correct.</div>
        </div>
        <div class="alert alert-success answer-3 hidden" role="alert">
            <div class="alert-heading">Correct.</div>
        </div>
        <div class="alert alert-success answer-4 hidden" role="alert">
            <div class="alert-heading">Correct.</div>
        </div>
    </div>
</section>
