<section class="container">
    <h1>{% SESSIONTITLE %}</h1>
    <h2>Slide {% PAGENUM %} of {% SESSIONLENGTH %}: {% TITLE %}</h2>

    <p>
        When you set goals to reduce the risks to your health you are
        putting yourself first! Get out your goals worksheet or a
        piece of paper, write down a goal, and write down a plan to
        make it happen. Here are some suggestions to get you started:
    </p>
    <ul>
        <li>
            Buy a pack of condoms
        </li>
        <li>
            Increase my use of condoms
        </li>
        <li>
            Talk with my partner(s) about using condoms
        </li>
        <li>
            Reduce the number of partners I have
        </li>
        <li>
            Encourage my partner(s) to get tested for HIV and/or HCV
        </li>
        <li>
            Encourage my partner(s) to get treated for HIV, HCV, and/or other STIs
        </li>
        <li>
            Speak with a doctor to find out more about PrEP or PEP
        </li>
        <li>
            Make an appointment to see my HIV care provider
        </li>
        <li>
            Get treatment for an STI
        </li>
        <li>
            Take my HIV medication, Antiretroviral Therapy (ART), as
            prescribed
        </li>
        <li>
            Get the medication I need to treat my STIs
        </li>
        <li>
            Not have sex after drinking or taking drugs
        </li>
        <li>
            Not share needles or unclean injection equipment with
            anyone
        </li>
        <li>
            Make the daily commitment to my recovery from alcohol and substance misuse
        </li>    
    </ul>
    <img class="worth-icon" src="img/writing.png">
</section>
