<section class="container-fluid reflection">
    <span class="badge badge-default float-right">{% SESSIONNUM %}.{% PAGENUM %}</span>
    <h1>{% SESSIONTITLE %}</h1>
    <h2>{% TITLE %}</h2>

    <div class="progress-text">
        <span class="float-left text-muted">Page <span class="page-number"></span> of <span class="page-total"></span></span>
        <span class="float-right text-muted progress-primary"></span>
    </div>
    <div class="clearfix"></div>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        </div>
    </div>

    <div class="panel s0">
        <p>
            You might have issues and concerns similar to
            Amanda's. Which of her concerns are important in your life
            too?
        </p>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                I've had to tell a partner who wanted sex in
                exchange for help that I could not have sex.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                I'm trying to turn things around but I'm feeling like
                it's hard to change.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                I've had a lot of chances to be exposed because of
                drugs.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                I've had a lot of chances to be exposed because of
                risky hook ups.
            </label>
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <button class="btn btn-primary btn-block s1">That's my answer</button>                
            </div>
        </div>
    </div>

    <div class="panel hidden s1">
        <p>
            Thanks for taking time to reflect.
        </p>
        <p>
            <div class="reflection-title hidden">You share these concerns with Amanda:</div>
            <ul class="reflection-points"></ul>
        </p>
        <div class="row">
            <div class="col">
                <button class="btn btn-secondary btn-block s0">Back</button>
            </div>
            <div class="col">
                <h5 class="swipe-to-move-on">Swipe to move on &rarr;</h5>
            </div>
        </div>
    </div>
</section>
