<section class="container basic-activity-nav">
    <span class="badge badge-default float-right">{% SESSIONNUM %}.{% PAGENUM %}</span>
    <h1>{% SESSIONTITLE %}</h1>
    <h2>{% TITLE %}</h2>

    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Activity Progess</div>
    </div>
    <h3>Safety Planning</h3>

    <div class="panel s1">
        <h4>My Safety Plan</h4>
        <p>
            Having a plan can keep you safer. Let's write a plan you
            can use during an emergency.
        </p>

        <div class="text-center">
            <img src="img/safety-plan.png" class="img-fluid half-width" alt="Safety plan paper">
        </div>

        <button type="button" class="btn btn-primary btn-block s1">
            Begin
        </button>
    </div>

    <div class="panel hidden s2">
        <h4>Question 1 of 9</h4>
        <h5>Escape Route</h5>
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls="" poster="img/carol.jpg">
                 <source src="video/px3QOlzL8nU.webm" type="video/webm"></source>
            </video>
        </div>
        <button type="button" class="btn btn-secondary btn-block s0">
            Back
        </button>
        <button type="button" class="btn btn-primary btn-block s2">
            Next
        </button>
    </div>

    <div class="panel hidden s3">
        <h4>Question 1 of 9</h4>
        <h5>Escape Route</h5>
        <p>
            It is a good idea to practice how to get out of your house
            or apartment safely. What doors, windows, elevators,
            stairwells, or fire escapes would you use? Consider which
            exits are safest. Write down how you would get out.
        </p>
        <div class="alert alert-warning" role="alert">
            <div><strong>Don't forget the paper version!</strong></div>
            <div>Please copy this information to your worksheet.</div>
        </div>
        <button type="button" class="btn btn-secondary btn-block s1">
            Back
        </button>
        <button type="button" class="btn btn-primary btn-block s3">
            Next
        </button>
    </div>

    <div class="panel hidden s4">
        <h4>My Safety Plan</h4>
        <p>
            Congratulations on completing your plan!
        </p>

        <div class="alert alert-info" role="alert">
            <div><strong>You're done!</strong></div>
            <div>Swipe left to move on.</div>
            <button type="button" class="btn btn-primary btn-block s0">
                I want to try again
            </button>
        </div>
    </div>
</section>
