<section class="container">
    <h1>{% SESSIONTITLE %}</h1>
    <h2>Page {% PAGENUM %} of {% SESSIONLENGTH %}: {% TITLE %}</h2>

    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <h1>Writing down my safety plan</h1>

    <div class="panel s0">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls="" poster="img/carol.jpg">
                 <source src="video/px3QOlzL8nU.webm" type="video/webm"></source>
            </video>
        </div>

        <button type="button" class="btn btn-primary btn-block s1">
            OK. Let's go!
        </button>
    </div>

    <div class="panel s1">
        <p>
            It is a good idea to practice how to get out of your
            house or apartment safely. What doors, windows,
            elevators, stairwells, or fire escapes would you use?
            Consider which exits are safest. Write down how you would
            get out.
        </p>
        <img class="worth-icon" src="img/writing.png">

        <button type="button" class="btn btn-primary btn-block s2">
            OK
        </button>
    </div>

    <div class="panel s2">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls="" poster="img/carol.jpg">
                 <source src="video/px3QOlzL8nU.webm" type="video/webm"></source>
            </video>
        </div>

        <button type="button" class="btn btn-primary btn-block s3">
            OK
        </button>
    </div>

    <div class="panel s3">
        <p>
            Tell a person whom you trust about the violence and
            request they call the police if they hear suspicious
            noises coming from your apartment.  Write down the names
            of people you can tell.
        </p>
        <img class="worth-icon" src="img/writing.png">

        <button type="button" class="btn btn-primary btn-block s4">
            OK
        </button>
    </div>

    <div class="panel s4">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls="" poster="img/carol.jpg">
                 <source src="video/px3QOlzL8nU.webm" type="video/webm"></source>
            </video>
        </div>

        <button type="button" class="btn btn-primary btn-block s5">
            OK
        </button>
    </div>

    <div class="panel s5">
        <h3>
            Write down your code word.
        </h3>
        <img class="worth-icon" src="img/writing.png">

        <button type="button" class="btn btn-primary btn-block s6">
            OK
        </button>
    </div>

    <div class="panel s6">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls="" poster="img/carol.jpg">
                 <source src="video/px3QOlzL8nU.webm" type="video/webm"></source>
            </video>
        </div>

        <button type="button" class="btn btn-primary btn-block s7">
            OK
        </button>
    </div>

    <div class="panel s7">
        <p>
            Decide where you can go if you have to leave your
            apartment. Decide this even if you don't think you will
            experience another violent incident. Try to think of more
            than one option. Write down two places you can go if you
            need to leave your home.
        </p>
        <img class="worth-icon" src="img/writing.png">

        <button type="button" class="btn btn-primary btn-block s8">
            OK
        </button>
    </div>

    <div class="panel s8">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls="" poster="img/carol.jpg">
                 <source src="video/px3QOlzL8nU.webm" type="video/webm"></source>
            </video>
        </div>

        <button type="button" class="btn btn-primary btn-block s9">
            OK
        </button>
    </div>

    <div class="panel s9">
        <p>
            When you expect you are going to have an argument with
            your partner, move to a space that is lowest risk. Try to
            avoid arguments in the bathroom, and kitchens, near
            weapons or in rooms without access to an outside
            door. Write down the spaces in your apartment that are
            the lowest risk.
        </p>
        <img class="worth-icon" src="img/writing.png">

        <button type="button" class="btn btn-primary btn-block s10">
            OK
        </button>
    </div>

    <div class="panel s10">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls="" poster="img/carol.jpg">
                 <source src="video/px3QOlzL8nU.webm" type="video/webm"></source>
            </video>
        </div>

        <button type="button" class="btn btn-primary btn-block s11">
            OK
        </button>
    </div>

    <div class="panel s11">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls="" poster="img/carol.jpg">
                 <source src="video/px3QOlzL8nU.webm" type="video/webm"></source>
            </video>
        </div>

        <button type="button" class="btn btn-primary btn-block s12">
            OK
        </button>
    </div>

    <div class="panel s12">
        <p>
            There are things you can do to keep safe if you are
            preparing to leave your partner. To be able to leave
            quickly, find someone you can leave an extra set of keys,
            money, and other emergency items like clothes with. Write
            down who you will leave these things with.
        </p>
        <img class="worth-icon" src="img/writing.png">

        <button type="button" class="btn btn-primary btn-block s13">
            OK
        </button>
    </div>

    <div class="panel s13">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls="" poster="img/carol.jpg">
                 <source src="video/px3QOlzL8nU.webm" type="video/webm"></source>
            </video>
        </div>

        <button type="button" class="btn btn-primary btn-block s14">
            OK
        </button>
    </div>

    <div class="panel s14">
        <p>
            Keep copies of important documents (social security cards,
            birth certificates, immunization records) somewhere
            outside your home. Write down where you can leave
            important documents.
        </p>
        <img class="worth-icon" src="img/writing.png">

        <button type="button" class="btn btn-primary btn-block s15">
            OK
        </button>
    </div>

    <div class="panel s15">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls="" poster="img/carol.jpg">
                 <source src="video/px3QOlzL8nU.webm" type="video/webm"></source>
            </video>
        </div>

        <button type="button" class="btn btn-primary btn-block s16">
            OK
        </button>
    </div>

    <div class="panel s16">
        <p>
            It's important to become financially independent. Write
            down the date you plan to open a savings account.
        </p>
        <img class="worth-icon" src="img/writing.png">

        <button type="button" class="btn btn-primary btn-block s17">
            OK
        </button>
    </div>

    <div class="panel s17">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls="" poster="img/carol.jpg">
                 <source src="video/px3QOlzL8nU.webm" type="video/webm"></source>
            </video>
        </div>

        <button type="button" class="btn btn-primary btn-block s18">
            OK
        </button>
    </div>

    <div class="panel s18">
        <p>
            If there are other things you can think of that will make
            you more independent, write them down.
        </p>
        <img class="worth-icon" src="img/writing.png">

        <button type="button" class="btn btn-primary btn-block s19">
            OK
        </button>
    </div>

    <div class="panel s19">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls="" poster="img/carol.jpg">
                 <source src="video/px3QOlzL8nU.webm" type="video/webm"></source>
            </video>
        </div>

        <button type="button" class="btn btn-primary btn-block s0">
            OK
        </button>
    </div>
</section>
