<section class="container-fluid  basic-activity-nav">
    <span class="badge badge-default float-right">{% SESSIONNUM %}.{% PAGENUM %}</span>
    <h1>{% SESSIONTITLE %}</h1>
    <h2>{% TITLE %}</h2>

    <div class="progress-text">
        <span class="float-left text-muted">Page <span class="page-number"></span> of <span class="page-total"></span></span>
        <span class="float-right text-muted progress-primary"></span>
    </div>
    <div class="clearfix"></div>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        </div>
    </div>

    <div class="panel s0">
        <div class="embed-responsive embed-responsive-16by9">
            <video preload="none" class="embed-responsive-item" controls="" poster="img/carol.jpg">
                 <source src="video/U18aJANJQ8Y.webm" type="video/webm"></source>
            </video>
        </div>

        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block s1">
                    Next
                </button>
            </div>
        </div>
    </div>

    <div class="panel s1 hidden">
        <p>
            It is a good idea to practice how to get out of your
            house or apartment safely. What doors, windows,
            elevators, stairwells, or fire escapes would you use?
            Consider which exits are safest. Write down how you would
            get out.
        </p>
        <img class="worth-icon" src="img/writing.png">

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s0">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block s2">
                    Next
                </button>
            </div>
        </div>
    </div>

    <div class="panel s2 hidden">
        <div class="embed-responsive embed-responsive-16by9">
            <video preload="none" class="embed-responsive-item" controls="" poster="img/carol.jpg">
                 <source src="video/dyVuu_ZNGhI.webm" type="video/webm"></source>
            </video>
        </div>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s1">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block s3">
                    Next
                </button>
            </div>
        </div>

    </div>

    <div class="panel s3 hidden">
        <p>
            Tell a person whom you trust about the violence and
            request they call the police if they hear suspicious
            noises coming from your apartment. Write down the names
            of people you can tell.
        </p>
        <img class="worth-icon" src="img/writing.png">

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s2">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block s4">
                    Next
                </button>
            </div>
        </div>        

    </div>

    <div class="panel s4 hidden">
        <div class="embed-responsive embed-responsive-16by9">
            <video preload="none" class="embed-responsive-item" controls="" poster="img/carol.jpg">
                 <source src="video/VXZvJfdKtA4.webm" type="video/webm"></source>
            </video>
        </div>
        
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s3">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block s5">
                    Next
                </button>
            </div>
        </div>        

    </div>

    <div class="panel s5 hidden">
        <h3>
            Write down your code word.
        </h3>
        <img class="worth-icon" src="img/writing.png">

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s4">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block s6">
                    Next
                </button>
            </div>
        </div>        
    </div>

    <div class="panel s6 hidden">
        <div class="embed-responsive embed-responsive-16by9">
            <video preload="none" class="embed-responsive-item" controls="" poster="img/carol.jpg">
                 <source src="video/kSDttj22FW8.webm" type="video/webm"></source>
            </video>
        </div>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s5">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block s7">
                    Next
                </button>
            </div>
        </div>        

    </div>

    <div class="panel s7 hidden">
        <p>
            Decide where you can go if you have to leave your
            apartment. Decide this even if you don't think you will
            experience another violent incident. Try to think of more
            than one option. Write down two places you can go if you
            need to leave your home.
        </p>
        <img class="worth-icon" src="img/writing.png">

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s6">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block s8">
                    Next
                </button>
            </div>
        </div>        

    </div>

    <div class="panel s8 hidden">
        <div class="embed-responsive embed-responsive-16by9">
            <video preload="none" class="embed-responsive-item" controls="" poster="img/carol.jpg">
                 <source src="video/EOe1MM9ouu8.webm" type="video/webm"></source>
            </video>
        </div>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s7">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block s9">
                    Next
                </button>
            </div>
        </div>        
    </div>

    <div class="panel s9 hidden">
        <p>
            When you expect you are going to have an argument with
            your partner, move to a space that is lowest risk. Try to
            avoid arguments in the bathroom, and kitchens, near
            weapons or in rooms without access to an outside
            door. Write down the spaces in your apartment that are
            the lowest risk.
        </p>
        <img class="worth-icon" src="img/writing.png">

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s8">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block s10">
                    Next
                </button>
            </div>
        </div>        

    </div>

    <div class="panel s10 hidden">
        <div class="embed-responsive embed-responsive-16by9">
            <video preload="none" class="embed-responsive-item" controls="" poster="img/carol.jpg">
                 <source src="video/0ro_ohVehL0.webm" type="video/webm"></source>
            </video>
        </div>

         <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s9">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block s11">
                    Next
                </button>
            </div>
        </div>        

    </div>

    <div class="panel s11 hidden">
        <div class="embed-responsive embed-responsive-16by9">
            <video preload="none" class="embed-responsive-item" controls="" poster="img/carol.jpg">
                 <source src="video/XOBkGB87FWY.webm" type="video/webm"></source>
            </video>
        </div>

         <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s10">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block s12">
                    Next
                </button>
            </div>
        </div>        

    </div>

    <div class="panel s12 hidden">
        <p>
            There are things you can do to keep safe if you are
            preparing to leave your partner. To be able to leave
            quickly, find someone you can leave an extra set of keys,
            money, and other emergency items like clothes with. Write
            down who you will leave these things with.
        </p>
        <img class="worth-icon" src="img/writing.png">

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s11">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block s13">
                    Next
                </button>
            </div>
        </div>        

    </div>

    <div class="panel s13 hidden">
        <div class="embed-responsive embed-responsive-16by9">
            <video preload="none" class="embed-responsive-item" controls="" poster="img/carol.jpg">
                 <source src="video/4EeqOeHqeBY.webm" type="video/webm"></source>
            </video>
        </div>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s12">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block s14">
                    Next
                </button>
            </div>
        </div>        

    </div>

    <div class="panel s14 hidden">
        <p>
            Keep copies of important documents (social security cards,
            birth certificates, immunization records) somewhere
            outside your home. Write down where you can leave
            important documents.
        </p>
        <img class="worth-icon" src="img/writing.png">

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s13">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block s15">
                    Next
                </button>
            </div>
        </div>        

    </div>

    <div class="panel s15 hidden">
        <div class="embed-responsive embed-responsive-16by9">
            <video preload="none" class="embed-responsive-item" controls="" poster="img/carol.jpg">
                 <source src="video/q2Py7UJhGFs.webm" type="video/webm"></source>
            </video>
        </div>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s14">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block s16">
                    Next
                </button>
            </div>
        </div>        

    </div>

    <div class="panel s16 hidden">
        <p>
            It's important to become financially independent. Write
            down the date you plan to open a savings account.
        </p>
        <img class="worth-icon" src="img/writing.png">

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s15">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block s17">
                    Next
                </button>
            </div>
        </div>        

    </div>

    <div class="panel s17 hidden">
        <div class="embed-responsive embed-responsive-16by9">
            <video preload="none" class="embed-responsive-item" controls="" poster="img/carol.jpg">
                 <source src="video/jiQW_pKq1wg.webm" type="video/webm"></source>
            </video>
        </div>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s16">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block s18">
                    Next
                </button>
            </div>
        </div>        

    </div>

    <div class="panel s18 hidden">
        <p>
            If there are other things you can think of that will make
            you more independent, write them down.
        </p>
        <img class="worth-icon" src="img/writing.png">

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s17">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block s19">
                    Next
                </button>
            </div>
        </div>        
    </div>

    <div class="panel s19 hidden">
        <div class="embed-responsive embed-responsive-16by9">
            <video preload="none" class="embed-responsive-item" controls="" poster="img/carol.jpg">
                 <source src="video/IXl1OVUepxU.webm" type="video/webm"></source>
            </video>
        </div>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s18">
                    Back
                </button>
            </div>
            <div class="col">
                <h5 class="swipe-to-move-on">Swipe to move on &rarr;</h5>
            </div>
        </div>        
    </div>
</section>
