<section class="container self-talk-3">
    <span class="badge badge-default float-right">Slide {% PAGENUM %} of {% SESSIONLENGTH %}</span>
    <h1>{% SESSIONTITLE %}</h1>
    <h2>{% TITLE %}</h2>

    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Activity Progess</div>
    </div>
    <h3>Self-Talk</h3>

    <div class="panel s0">
        <p>
            In this activity, we're going to learn all about it.
        </p>

        <button type="button" class="btn btn-primary btn-block s1">
            OK
        </button>
    </div>

    <div class="panel hidden s1">
        <h4>What is it?</h4>
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls="" poster="img/lucia.jpg">
                 <source src="video/D7Sq5eG71Kw.webm" type="video/webm"></source>
            </video>
        </div>
        <button type="button" class="btn btn-primary btn-block s2">
            OK
        </button>
    </div>

    <div class="panel hidden s2">
        <h4>Define Self-Talk</h4>
        <p>
            Which of these descriptions is the best way to define
            self-talk?
        </p>

        <fieldset class="form-group">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="self-talk-radio"
                           id="optionsRadios1" value="option1">
                    Self-talk is looking in the mirror and talking to
                    yourself
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="self-talk-radio"
                           id="optionsRadios2" value="option2">
                    Self-talk is saying negative things to yourself
                    and trying your best to not feel bad.
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="self-talk-radio"
                           id="optionsRadios3" value="option3">
                    Self-talk is the voice inside you that you talk
                    to throughout the day. This voice is a
                    constant reflection of how you are feeling.
                </label>
            </div>
        </fieldset>

        <button type="submit" class="btn btn-primary btn-block">
            Submit
        </button>

        <div class="alert alert-info text-center hidden" role="alert">
            <p>
                <strong>Correct!</strong> Your internal voice can be
                positive or negative, and however it talks to you will
                impact how you feel. For example, if you say something
                you think was stupid and then you say to yourself "you
                are stupid!" it makes you feel worse. Positive
                self-talk happens when you notice that you did
                something well and congratulate yourself for it.
            </p>
            <button class="btn btn-primary btn-block s3">OK</button>
        </div>

        <div class="alert alert-danger text-center hidden" role="alert">
            <p>
                This is not correct. Your internal voice can be
                positive or negative, but however it talks to you will
                impact how you feel. For example, if you say something
                you think was stupid and then you say to yourself "you
                are stupid!" it makes you feel worse. Positive
                self-talk happens when you notice that you did
                something well and congratulate yourself for it.
            </p>
        </div>
    </div>

    <div class="panel hidden s3">
        <h4>Rasheeda's negative self talk</h4>
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls="" poster="img/rasheeda.jpg">
                 <source src="video/yP8esIhXg0I.webm" type="video/webm"></source>
            </video>
        </div>
        <p>
            Listen carefully to Rasheeda as she tells her story. Does
            she say negative things to herself? Learning to recognize
            when we are using negative self-talk is the first step to
            changing our internal voice to a more positive support.
        </p>
        <button type="button" class="btn btn-primary btn-block s4">
            OK
        </button>


    </div>

    <div class="panel hidden s4">
        <h4>Rasheeda's negative self talk</h4>
        <p>
            Our self talk makes a big difference our journey down the
            road to health. Negative messages can set us back but
            positive messages can help move ahead. Sometimes it can be
            hard to notice the negative things we say to ourselves,
            and if we don’t notice them we can’t stop and make our
            self talk more positive. Practice noticing what Rasheeda
            said to herself. Which negative messages did Rasheeda give
            herself?
        </p>
        <p>
            Which negative messages did Rasheeda give herself?
        </p>
        <fieldset class="form-group">
            <div class="form-check">
                <label class="form-check-label selftalk-correct">
                    <input type="checkbox" class="form-check-input"
                           name="self-talk-checkbox-2"
                           value="">
                    "I feel stupid."
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label selftalk-correct">
                    <input type="checkbox" class="form-check-input"
                           name="self-talk-checkbox-2"
                           value="">
                    "I just can’t get anything right."
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input"
                           name="self-talk-checkbox-2"
                           value="">
                    "My aunt thinks I always do everything wrong"
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label selftalk-correct">
                    <input type="checkbox" class="form-check-input"
                           name="self-talk-checkbox-2"
                           value="">
                    "I should just give in and do whatever I have to
                    do to make ends meet."
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label selftalk-correct">
                    <input type="checkbox" class="form-check-input"
                           name="self-talk-checkbox-2"
                           value="">
                    "Dante knows I’m a weak person."
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input"
                           name="self-talk-checkbox-2"
                           value="">
                    "This life is hurting my daughter"
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label selftalk-correct">
                    <input type="checkbox" class="form-check-input"
                           name="self-talk-checkbox-2"
                           value="">
                    "I should just give up."
                </label>
            </div>
        </fieldset>
        <button type="button" class="btn btn-primary btn-block get-answers">
            That's my answer
        </button>

        <div class="alert alert-info text-center hidden" role="alert">
            <p>
                <strong>Great job!</strong> Correct answers are above
                in green.
            </p>
            <button class="btn btn-primary btn-block s5">Continue</button>
        </div>
    </div>

    <div class="panel hidden s5">
        <h4>Rasheeda's negative self talk</h4>
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls="" poster="img/rasheeda.jpg">
                 <source src="video/yP8esIhXg0I.webm" type="video/webm"></source>
            </video>
        </div>
        <button class="btn btn-primary btn-block s6">OK</button>
    </div>

    <div class="panel hidden s6">
        <h4>Give yourself some positive self-talk</h4>
        <p>
            We all need more positive self talk. Take a look at this
            list of positive statements that you can use when you are
            in a difficult situation. Which ones do you think are the
            most meaningful for you?
        </p>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                I get a lot of things right. I can do this too.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                I continue trying because I am worth it.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                I make good choices the vast majority of the time.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                I have changed in other ways and will continue to try
                to change in this way too.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                I am smart. Although I placed myself at risk, I can
                recommit to being safe.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                I can't fix yesterday's mistake but I can and will
                make less risky choices in the future.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                My life is worth protecting.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                People count on me because they believe I am strong.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                I protect myself sexually most of the time and when I
                protect myself I also protect my partners.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                Yes, I have messed up a few times but I choose to
                forgive myself now.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                I protect myself because I am WORTH it.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                Although I have made mistakes, I am trying to make
                better choices.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                Even though I feel angry right now, this feeling will
                pass.
            </label>
        </div>

        <button type="button" class="btn btn-primary btn-block self-talk-done">
            OK
        </button>

        <div class="alert alert-info text-center hidden" role="alert">
            <p>
                <strong>Great job.</strong>
                Practice these and hold them
                close your heart.
            </p>
        </div>
        <div class="alert alert-info text-center hidden" role="alert">
            <p>
                <strong>You're done!</strong> Swipe to move on.
            </p>
            <button class="btn btn-primary btn-block s0">I want to try again.</button>
        </div>
    </div>
</section>
