<section class="container self-talk-4">
    <span class="badge badge-default float-right">Slide {% PAGENUM %} of {% SESSIONLENGTH %}</span>
    <h1>{% SESSIONTITLE %}</h1>
    <h2>{% TITLE %}</h2>

    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Activity Progess</div>
    </div>
    <h3>Self-Talk</h3>

    <div class="panel s0">
        <h4>Sofia's negative self talk</h4>
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls="" poster="img/sofia.jpg">
                <source src="video/i2sKLllDS3g.webm" type="video/webm"></source>
            </video>
        </div>
        <button type="button" class="btn btn-primary btn-block s1">
            OK
        </button>
    </div>

    <div class="panel hidden s1">
        <h4>Sofia's negative self talk</h4>
        <p>
            What negative self-talk messages does Sofia give herself?
        </p>
        <fieldset class="form-group">
            <div class="form-check">
                <label class="form-check-label selftalk-correct">
                    <input type="checkbox" class="form-check-input"
                           name="self-talk-checkbox-2"
                           value="">
                    My mom was right; it was my fault it happened back
                    then. And I’m so dumb for letting what happened
                    with my Uncle happen again.
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label selftalk-correct">
                    <input type="checkbox" class="form-check-input"
                           name="self-talk-checkbox-2"
                           value="">
                    What’s the point of talking to anyone? It’s so
                    embarrassing to even think about what happened…I
                    don’t deserve to feel better.
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label selftalk-correct">
                    <input type="checkbox" class="form-check-input"
                           name="self-talk-checkbox-2"
                           value="">
                    I'm just too weak - I should have been able to
                    shake it off and move on. But no, I end up
                    drinking all the time... popping Xanax. I am such a
                    screw-up.
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label ">
                    <input type="checkbox" class="form-check-input"
                           name="self-talk-checkbox-2"
                           value="">
                    Chloe thinks I'm a bad person
                </label>
            </div>
        </fieldset>
        <button type="button" class="btn btn-secondary btn-block s0">
            Back
        </button>
        <button type="button" class="btn btn-primary btn-block get-answers">
            OK
        </button>

        <div class="alert alert-info text-center hidden" role="alert">
            <p>
                Now let's watch and listen as Sofia turns these
                statements around.
            </p>
            <button class="btn btn-primary btn-block s2">Continue</button>
        </div>
    </div>

    <div class="panel hidden s2">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls="" poster="img/sofia.jpg">
                <source src="video/vAYGdlYS2nw.webm" type="video/webm"></source>
            </video>
        </div>
        <button class="btn btn-primary btn-block s3">Continue</button>
    </div>

    <div class="panel hidden s3">
        <h4>My Own Positive Self Talk</h4>
        <p>
            Look at this list of positive statements. Which ones are
            the best for you and your life?
        </p>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                Even though I feel sad right now, I won't always feel
                sad.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                What happened to me when I was a kid was hard but I
                survived. I am a survivor.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                The bad memories and dreams are hard but I am getting
                help for that because I know I am worth it.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                I am in touch with myself spiritually and pray
                whenever I have bad thoughts or feel scared; praying
                always helps me to think positive thoughts.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                Getting help from others, like a friend or someone at
                a local clinic, reminds me that I am not alone and can
                face anything.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                I did not have to join WORTH Transitions but I did
                because I believe in myself.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                I don't always make the best choices but I am learning
                how to make safer choices.
            </label>
        </div>

        <button type="button" class="btn btn-secondary btn-block s4">
            Back
        </button>
        <button type="button" class="btn btn-primary btn-block self-talk-done">
            OK
        </button>

        <div class="alert alert-info text-center hidden" role="alert">
            <p>
                <strong>Great job.</strong>
                This is a good first step to making your self talk
                into a positive support.
            </p>
        </div>
        <div class="alert alert-info text-center hidden" role="alert">
            <p>
                <strong>You're done!</strong> Swipe to move on.
            </p>
            <button class="btn btn-primary btn-block s0">I want to try again.</button>
        </div>
    </div>
</section>
