<section class="container self-talk-3">
    <span class="badge badge-default float-right">{% SESSIONNUM %}.{% PAGENUM %}</span>
    <h1>{% SESSIONTITLE %}</h1>
    <h2>{% TITLE %}</h2>

    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div class="panel s0">
        <p>
            In this activity, we're going to learn all about it.
        </p>

        <div class="row">
            <div class="col"></div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block s1">
                    Next
                </button>
            </div>
        </div>
    </div>

    <div class="panel hidden s1">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls="" poster="img/lucia.jpg">
                 <source src="video/D7Sq5eG71Kw.webm" type="video/webm"></source>
            </video>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s0">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block s2">
                    Next
                </button>
            </div>
        </div>
    </div>

    <div class="panel hidden s2">
        <h4>Define Self-Talk</h4>
        <p>
            Which of these descriptions is the best way to define
            self-talk?
        </p>

        <fieldset class="form-group">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="self-talk-radio"
                           id="optionsRadios1" value="option1">
                    Self-talk is looking in the mirror and talking to
                    yourself
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="self-talk-radio"
                           id="optionsRadios2" value="option2">
                    Self-talk is saying negative things to yourself
                    and trying your best to not feel bad.
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="self-talk-radio"
                           id="optionsRadios3" value="option3">
                    Self-talk is the voice inside you that you talk
                    to throughout the day. This voice is a
                    constant reflection of how you are feeling.
                </label>
            </div>
        </fieldset>

        <div class="alert alert-success hidden" role="alert">
            <strong>Correct!</strong><br />Your internal voice can be
            positive or negative, and however it talks to you will
            impact how you feel. For example, if you say something
            you think was stupid and then you say to yourself "you
            are stupid!" it makes you feel worse. Positive
            self-talk happens when you notice that you did
            something well and congratulate yourself for it.
        </div>

        <div class="alert alert-danger hidden" role="alert">
            <b>Incorrect</b><br />
            Your internal voice can be
            positive or negative, but however it talks to you will
            impact how you feel. For example, if you say something
            you think was stupid and then you say to yourself "you
            are stupid!" it makes you feel worse. Positive
            self-talk happens when you notice that you did
            something well and congratulate yourself for it.
        </div>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s1">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary btn-block">
                    That's my answer
                </button>
                <button class="btn btn-primary btn-block s3 hidden">Next</button>
            </div>
        </div>

    </div>

    <div class="panel hidden s3">
        <h4>Rasheeda's negative self talk</h4>
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls="" poster="img/rasheeda.jpg">
                 <source src="video/yP8esIhXg0I.webm" type="video/webm"></source>
            </video>
        </div>
        <p>
            Listen carefully to Rasheeda as she tells her story. Does
            she say negative things to herself? Learning to recognize
            when we are using negative self-talk is the first step to
            changing our internal voice to a more positive support.
        </p>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s2">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block s4">
                    Next
                </button>
            </div>
        </div>
    </div>

    <div class="panel hidden s4">
        <h4>Rasheeda's negative self talk</h4>
        <p>
            Our self talk makes a big difference our journey down the
            road to health. Negative messages can set us back but
            positive messages can help move ahead. Sometimes it can be
            hard to notice the negative things we say to ourselves,
            and if we don’t notice them we can’t stop and make our
            self talk more positive. Practice noticing what Rasheeda
            said to herself. Which negative messages did Rasheeda give
            herself?
        </p>
        <p>
            Which negative messages did Rasheeda give herself?
        </p>
        <fieldset class="form-group">
            <div class="form-check">
                <label class="form-check-label selftalk-correct">
                    <input type="checkbox" class="form-check-input"
                           name="self-talk-checkbox-2"
                           value="">
                    "I feel stupid."
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label selftalk-correct">
                    <input type="checkbox" class="form-check-input"
                           name="self-talk-checkbox-2"
                           value="">
                    "I just can’t get anything right."
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input"
                           name="self-talk-checkbox-2"
                           value="">
                    "My aunt thinks I always do everything wrong"
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label selftalk-correct">
                    <input type="checkbox" class="form-check-input"
                           name="self-talk-checkbox-2"
                           value="">
                    "I should just give in and do whatever I have to
                    do to make ends meet."
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input"
                           name="self-talk-checkbox-2"
                           value="">
                    "This life is hurting my daughter"
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label selftalk-correct">
                    <input type="checkbox" class="form-check-input"
                           name="self-talk-checkbox-2"
                           value="">
                    "I should just give up."
                </label>
            </div>
        </fieldset>

        <div class="alert alert-info hidden" role="alert">
            <strong>Great job!</strong><br />
            Correct answers are marked
            in green.
        </div>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s3">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block get-answers">
                    That's my answer
                </button>
                <button class="btn btn-primary btn-block s5 hidden">Next</button>                
            </div>
        </div>

    </div>

    <div class="panel hidden s5">
        <h4>Give Rasheeda some positive self-talk</h4>
        <p>
            Rasheeda would feel better and more able to take on the difficult situation she is in if she gave herself more positive messages.
        </p>
        <p>
            Which positive messages would help Rasheeda the most?
        </p>
        <fieldset class="form-group">
            <div class="form-check">
                <label class="form-check-label selftalk-correct">
                    <input type="checkbox" class="form-check-input"
                           name="self-talk-checkbox-2"
                           value="">
                    "When I think about all I have been through, I know I can get through this too."
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label selftalk-correct">
                    <input type="checkbox" class="form-check-input"
                           name="self-talk-checkbox-2"
                           value="">
                    "Even though I get knocked down sometimes, it’s not true that I get knocked down every single time."
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label selftalk-correct">
                    <input type="checkbox" class="form-check-input"
                           name="self-talk-checkbox-2"
                           value="">
                    "It is always worth trying because of Aisha."
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label selftalk-correct">
                    <input type="checkbox" class="form-check-input"
                           name="self-talk-checkbox-2"
                           value="">
                    "Every time I get back up again, I show myself, and Aisha, that I can survive."
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label selftalk-correct">
                    <input type="checkbox" class="form-check-input"
                           name="self-talk-checkbox-2"
                           value="">
                    "I will get through this too. I know I can do this."
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label selftalk-correct">
                    <input type="checkbox" class="form-check-input"
                           name="self-talk-checkbox-2"
                           value="">
                    "I get things right most of the time, no matter how I feel right now."
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label selftalk-correct">
                    <input type="checkbox" class="form-check-input"
                           name="self-talk-checkbox-2"
                           value="">
                    "Even though I feel trapped, I have options."
                </label>
            </div>
             <div class="form-check">
                <label class="form-check-label selftalk-correct">
                    <input type="checkbox" class="form-check-input"
                           name="self-talk-checkbox-2"
                           value="">
                    "I’m not going to give up. I remember the day I got to prison, I didn’t think I could make it. I was scared and overwhelmed then too."
                </label>
            </div>
             <div class="form-check">
                <label class="form-check-label selftalk-correct">
                    <input type="checkbox" class="form-check-input"
                           name="self-talk-checkbox-2"
                           value="">
                    "Yes I need a job to make ends meet but I got one before and will get one again."
                </label>
            </div>
             <div class="form-check">
                <label class="form-check-label selftalk-correct">
                    <input type="checkbox" class="form-check-input"
                           name="self-talk-checkbox-2"
                           value="">
                    "Even though I feel desperate, I have survived tougher things in my life."
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label selftalk-correct">
                    <input type="checkbox" class="form-check-input"
                           name="self-talk-checkbox-2"
                           value="">
                    "I’m afraid that I will fail, but I am not stupid at all."
                </label>
            </div>
             <div class="form-check">
                <label class="form-check-label selftalk-correct">
                    <input type="checkbox" class="form-check-input"
                           name="self-talk-checkbox-2"
                           value="">
                    "I’ve been through so much in life but I am determined not to give up. I’ve got stuff to live for."
                </label>
            </div>
             <div class="form-check">
                <label class="form-check-label selftalk-correct">
                    <input type="checkbox" class="form-check-input"
                           name="self-talk-checkbox-2"
                           value="">
                    "I’m going to do whatever I can to stay safe."
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label selftalk-correct">
                    <input type="checkbox" class="form-check-input"
                           name="self-talk-checkbox-2"
                           value="">
                    "I’ve got to take care of myself so I can be around for my kid."
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label selftalk-correct">
                    <input type="checkbox" class="form-check-input"
                           name="self-talk-checkbox-2"
                           value="">
                    "Yes, I haven’t always made the best choices but I have made good ones too."
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label selftalk-correct">
                    <input type="checkbox" class="form-check-input"
                           name="self-talk-checkbox-2"
                           value="">
                    "I am determined not to give up. I’ve got stuff to live for."
                </label>
            </div>
        </fieldset>

        <div class="alert alert-info hidden" role="alert">
            <strong>Great job!</strong><br />
            All of these messages would help Rasheeda find her way.
        </div>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s3">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block get-answers">
                    That's my answer
                </button>
                <button class="btn btn-primary btn-block s6 hidden">Next</button>                
            </div>
        </div>

    </div>

    <div class="panel hidden s6">
        <h4>Rasheeda turns around her negative self talk</h4>
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls="" poster="img/rasheeda.jpg">
                 <source src="video/P5yOiegazu0.webm" type="video/webm"></source>
            </video>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s4">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block s7">
                    Next
                </button>
            </div>
        </div>
    </div>

    <div class="panel hidden s7">
        <h4>Give yourself some positive self-talk</h4>
        <p>
            We all need more positive self talk. Take a look at this
            list of positive statements that you can use when you are
            in a difficult situation. Which ones do you think are the
            most meaningful for you?
        </p>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                I get a lot of things right. I can do this too.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                I continue trying because I am worth it.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                I make good choices the vast majority of the time.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                I have changed in other ways and will continue to try
                to change in this way too.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                I am smart. Although I placed myself at risk, I can
                recommit to being safe.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                I can't fix yesterday's mistake but I can and will
                make less risky choices in the future.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                My life is worth protecting.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                People count on me because they believe I am strong.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                I protect myself sexually most of the time and when I
                protect myself I also protect my partners.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                Yes, I have messed up a few times but I choose to
                forgive myself now.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                I protect myself because I am WORTH it.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                Although I have made mistakes, I am trying to make
                better choices.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                Even though I feel angry right now, this feeling will
                pass.
            </label>
        </div>

        <div class="alert alert-info hidden" role="alert">
            <strong>Great job!</strong><br />
            Practice using positive statements like this as often as you can.<br />
        </div>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s5">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary btn-block self-talk-done">
                    That's my answer
                </button>
                <h5 class="hidden swipe-to-move-on">Swipe to move on &rarr;</h5>
            </div>
        </div>
    </div>
</section>
