<section class="container ssnm">
    <span class="badge badge-default float-right">{% SESSIONNUM %}.{% PAGENUM %}</span>
    <h1>{% SESSIONTITLE %}</h1>
    <h2>{% TITLE %}</h2>

    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div class="panel s0">
        <h3>Making a Map</h3>
        <p>
            Let's learn how to create a map of the people in your life
            who support you. First, think of someone in your life,
            maybe someone who give you friendship or help.
        </p>
        <button type="button" class="btn btn-primary btn-block s1">
            Begin
        </button>
    </div>

    <div class="panel hidden s1">
        <h3>Part 1 of 4: Who is this?</h3>
        <div class="card w-50 mx-auto mb-3">
            <div class="card-block">
                <div class="d-flex flex-row">
                    <div class="p-2">
                        <img class="img-fluid" src="img/icon-person.png">
                    </div>
                    <div class="p-2">
                        <div class="form-group row">
                            <label for="ssnm-special-person" class="col-4 col-form-label text-right">Name</label>
                            <div class="col-6">
                                <input class="form-control" name="ssnm-special-person" type="text" id="ssnm-special-person">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-block s2">
            OK
        </button>
    </div>

    <div class="panel hidden s2">
        <h3>Part 2 of 4: Getting Close</h3>
        <p>
            How close are you to this special person? By close we mean
            someone you feel emotionally close to or who is someone
            you can rely on. This includes someone who may live far
            away.
        </p>
        <div class="card w-50 mx-auto mb-3">
            <div class="card-block">
                <div class="d-flex flex-row">
                    <div class="p-2">
                        <img class="img-fluid" src="img/icon-person.png">
                    </div>
                    <div class="p-2">
                        <div class="row">
                            <label class="col-4">Name:</label>
                            <div class="col-4">
                                <div class="col ssnm-special-person-choice">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <form>
            <fieldset class="form-group">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" name="ssnm-closeness" value="option1" type="radio">
                        Very Close
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" name="ssnm-closeness" value="option2" type="radio">
                        Close
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" name="ssnm-closeness" value="option3" type="radio">
                        Not Close
                    </label>
                </div>
            </fieldset>

        </form>
        <button type="button" class="btn btn-primary btn-block s3">
            OK
        </button>
    </div>

    <div class="panel hidden s3">
        <h3>Part 3 of 4: Influence</h3>
        <p>
            How does this special person shape your life?
        </p>
        <div class="card w-50 mx-auto mb-3">
            <div class="card-block">
                <div class="d-flex flex-row">
                    <div class="p-2">
                        <img class="img-fluid" src="img/icon-person.png">
                    </div>
                    <div class="p-2">
                        <div class="row">
                            <label class="col-4">Name:</label>
                            <div class="col-4">
                                <div class="col ssnm-special-person-choice">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img class="img-fluid" src="img/icon-plus.png">
            </div>
            <div class="col-md-3">
                <strong>Positive</strong> influence includes things like nurturing and kindness.
            </div>
            <div class="col-md-3">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" name="ssnm-influence" value="option1" type="radio">
                        Positive
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img class="img-fluid" src="img/icon-minus.png">
            </div>
            <div class="col-md-3">
                <strong>Negative</strong> influence includes things like abuse and neglect.
            </div>
            <div class="col-md-3">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" name="ssnm-influence" value="option2" type="radio">
                        Negative
                    </label>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-primary btn-block s4">
            OK
        </button>
    </div>

    <div class="panel hidden s4">
        <h3>Part 4 of 4: Support</h3>
        <p>
            What kind of support does this special person provide?
        </p>
        <div class="card w-50 mx-auto mb-3">
            <div class="card-block">
                <div class="d-flex flex-row">
                    <div class="p-2">
                        <img class="img-fluid" src="img/icon-person.png">
                    </div>
                    <div class="p-2">
                        <div class="row">
                            <label class="col-4">Name:</label>
                            <div class="col-4">
                                <div class="col ssnm-special-person-choice">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-4">Influence:</label>
                            <div class="col-4">
                                <div class="col ssnm-influence-choice">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img class="img-fluid" src="img/icon-heart.png">
            </div>
            <div class="col-md-3">
                <strong>Emotional support</strong> includes things like
                listening to you and letting you share your feelings.
                emotional/practical
            </div>
            <div class="col-md-3">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" name="ssnm-emotional-support" checked="" type="checkbox">
                        Emotional Support
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img class="img-fluid" src="img/icon-wrench.png">
            </div>
            <div class="col-md-3">
                <strong>Practical support</strong> is concrete help such as babysitting,
                helping you find work, etc.
            </div>
            <div class="col-md-3">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" name="ssnm-practical-support" checked="" type="checkbox">
                        Practical Support
                    </label>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-primary btn-block s5">
            OK
        </button>
    </div>

    <div class="panel hidden s5">
        <h3>On the Map</h3>
        <p>
            Here is this person in relation to you.
        </p>
        <div class="row">
            <div class="col">
                <img class="img-fluid" src="img/arc.png">
            </div>
        </div>
        <div class="ssnm-closeness-container">
            <strong><span class="ssnm-closeness-choice"></span></strong>
        </div>
        <div class="card w-50 mx-auto mb-3">
            <div class="card-block">
                <div class="d-flex flex-row">
                    <div class="p-2">
                        <img class="img-fluid" src="img/icon-person.png">
                    </div>
                    <div class="p-2">
                        <div class="row">
                            <label class="col-4">Name:</label>
                            <div class="col-4">
                                <div class="col ssnm-special-person-choice">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-4">Influence:</label>
                            <div class="col-4">
                                <div class="col ssnm-influence-choice">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-4">Support:</label>
                            <div class="col-4">
                                <div class="col ssnm-emotional-choice"></div>
                                <div class="col ssnm-practical-choice"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img class="img-fluid" src="img/arc.png">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-4 text-center">
                <img class="img-fluid rounded-circle" src="img/icon-person.png">
                Me
            </div>
        </div>

        <button type="button" class="btn btn-primary btn-block s6">
            OK
        </button>
    </div>

    <div class="panel hidden s6">
        <h3>On the Map</h3>
        <p>
            Now that you've learned the steps for making a map, get
            out paper or your map worksheet and create your own.
        </p>
        <p>
            You might have only one or two people on your map right
            now, or you might have lots of people on your map. Either
            way is just fine.
        </p>
        <div class="row">
            <div class="col">
                <img class="img-fluid" src="img/samplemap.png">
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-block s0">
            I want to try again.
        </button>
    </div>
</section>
