<section class="container-fluid">
    <span class="badge badge-default float-right">{% SESSIONNUM %}.{% PAGENUM %}</span>
    <h1>{% SESSIONTITLE %}</h1>
    <h2>{% TITLE %}</h2>
    <p>
        When you set goals to strengthen support you are reaching out
        to others and telling them that you value them. Get out your
        goals worksheet or a piece of paper, write down a goal, and
        write down a plan to make it happen. Here are some suggestions
        to get you started:
    </p>
    <ul>
        <li>
            Tell a person on my map that I value them
        </li>
        <li>
            Talk to a new person this week to expand my network
        </li>
        <li>
            Do a fun thing with a positive person on my map
        </li>
        <li>
            Call a person on my social support map to catch up
        </li>
    </ul>
    <img class="worth-icon" src="img/writing.png">
</section>
