<section class="container">
    <h1>{% SESSIONTITLE %}</h1>
    <h2>Page {% PAGENUM %} of {% SESSIONLENGTH %}: {% TITLE %}</h2>
    <p>
        "Here's what we covered during today's session, "Taking in the
        View":
    </p>
    <ul>
        <li>
            Factors that increase women's risk as a whole
        </li>
        <li>
            The fact that some women (i.e. women in the justice
            system, women of color) are even more at risk.
        </li>
        <li>
            You met Amanda, Charlene and Sofia, the remaining women
            of WORTH.
        </li>
        <li>
            Myths and facts about HIV and STIs
        </li>
        <li>
            How trauma hurts
        </li>
        <li>
            Behaviors that protect us, and those that place us at risk
        </li>
    </ul>
    <img class="img-fluid" src="img/summing-it-up-2.jpg">
</section>
