<section class="container">
    <span class="badge badge-default float-right">{% SESSIONNUM %}.{% PAGENUM %}</span>
    <h1>{% SESSIONTITLE %}</h1>
    <h2>{% TITLE %}</h2>
    <p>
        During today's session, "beginning the journey" you...
    </p>
    <ul>
        <li>
            Learned about the importance of regular testing…remember,
            the only bad status is not knowing your status.
        </li>
        <li>
            Met your WORTH facilitators: Lucia and Carol.
        </li>
        <li>
            Met Rasheeda and Mia, two of the five women of WORTH.
        </li>
        <li>
            Learned the importance of regularly checking in on our
            feelings and introduced you to the about the WORTH
            feelings check in station.
        </li>
        <li>
            Learned the importance of setting goals as we take care of
            our health.
        </li>
    </ul>
    <p>
        Great job again!! We are so glad you joined us.
    </p>
    <img class="img-fluid" src="img/summing-it-up-1.jpg">
</section>
