<section class="container-fluid">
    <span class="badge badge-default float-right">{% SESSIONNUM %}.{% PAGENUM %}</span>
    <h1>{% SESSIONTITLE %}</h1>
    <h2>{% TITLE %}</h2>
    <p>
        During today's session, "Planning for Safety", you learned:
    </p>
    <ul>
        <li>
            All about POP, a technique that helps us solve any problem.
        </li>
        <li>
            The power of positive self-talk.
        </li>
        <li>
            The difference social support makes.
        </li>
        <li>
            Safe sex is great sex - using condoms and the WORTH
            Fantasy Menu.
        </li>
    </ul>
    <img class="img-fluid" src="img/summing-it-up-3.jpg">
</section>
