<section class="container">
    <span class="badge badge-default float-right">Slide {% PAGENUM %} of {% SESSIONLENGTH %}</span>
    <h1>{% SESSIONTITLE %}</h1>
    <h2>{% TITLE %}</h2>
    <p>
        You completed the final session! Congratulations again! During
        today's final session, "Keeping the journey going: I am WORTH
        it!", you:
    </p>
    <ul>
        <li>
            Created a "message in a bottle" summarizing all you
            learned during WORTH - consider passing this message along
        </li>
    </ul>
    <img class="img-fluid" src="img/summing-it-up-5.jpg">
</section>
