<section class="container">
    <span class="badge badge-default float-right">Slide {% PAGENUM %} of {% SESSIONLENGTH %}</span>
    <h1>{% SESSIONTITLE %}</h1>
    <h2>{% TITLE %}</h2>
    <p>
        This week we focused on "Staying strong and focused" and you
        learned all about:
    </p>
    <ul>
        <li>
            The importance of creating a safety plan
        </li>
        <li>
            Techniques we can use to negotiate condom use
        </li>
        <li>
            What to do when it is not safe to ask our partner to use
            condoms
        </li>
    </ul>
    <img class="img-fluid" src="img/summing-it-up-4.jpg">
</section>
