<section class="container things-i-am-proud-of">
    <span class="badge badge-default float-right">Slide {% PAGENUM %} of {% SESSIONLENGTH %}</span>
    <h1>{% SESSIONTITLE %}</h1>
    <h2>{% TITLE %}</h2>

    <div class="progress">
        <div class="progress-bar" role="progressbar"
             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <h1>{% TITLE %}</h1>

    <div class="panel s0">
        <h3>I AM PROUD OF:</h3>

        <div class="d-flex justify-content-center">
            <div class="d-flex flex-column">
                <button type="button" class="btn btn-secondary">
                    Being a survivor
                </button>
                <button type="button" class="btn btn-secondary">
                    Staying informed
                </button>
                <button type="button" class="btn btn-secondary">
                    Protecting myself
                </button>
                <button type="button" class="btn btn-secondary">
                    Protecting my loved ones
                </button>
                <button type="button" class="btn btn-secondary">
                    Protecting my community
                </button>
                <button type="button" class="btn btn-secondary">
                    My faith
                </button>
                <button type="button" class="btn btn-secondary">
                    My family
                </button>
                <button type="button" class="btn btn-secondary">
                    My partner
                </button>
                <button type="button" class="btn btn-secondary">
                    Staying connected to my community
                </button>
                <button type="button" class="btn btn-secondary">
                    Not using today
                </button>
                <button type="button" class="btn btn-secondary">
                    Keeping my word
                </button>
                <button type="button" class="btn btn-secondary">
                    Keeping my appointments
                </button>
                <button type="button" class="btn btn-secondary">
                    Staying clean/sober
                </button>
                <button type="button" class="btn btn-secondary">
                    Not giving up
                </button>
            </div>
            <div class="d-flex flex-column">
                <button type="button" class="btn btn-secondary">
                    Taking care of my children
                </button>
                <button type="button" class="btn btn-secondary">
                    Making medical appointments
                </button>
                <button type="button" class="btn btn-secondary">
                    Keeping healthy
                </button>
                <button type="button" class="btn btn-secondary">
                    Taking medications on time
                </button>
                <button type="button" class="btn btn-secondary">
                    My race/ethnicity
                </button>
                <button type="button" class="btn btn-secondary">
                    My sexuality
                </button>
                <button type="button" class="btn btn-secondary">
                    My gender/gender expression
                </button>
                <button type="button" class="btn btn-secondary">
                    My occupation
                </button>
                <button type="button" class="btn btn-secondary">
                    My values
                </button>
                <button type="button" class="btn btn-secondary">
                    The things I am good at
                </button>
                <button type="button" class="btn btn-secondary">
                    Forgiving people who hurt me
                </button>
                <button type="button" class="btn btn-secondary">
                    How I treat the people in my life
                </button>
                <button type="button" class="btn btn-secondary">
                    How I can learn from my mistakes
                </button>
            </div>
        </div><!-- end .justify-content-center -->

    </div><!-- end .panel -->

    <div class="panel hidden s1">
        <div class="alert alert-info text-center" role="alert">
            <h4 class="alert-heading">I AM PROUD OF:</h4>
            <p class="proud-of"></p>
            <p>
                Congratulations on completing WORTH!
            </p>
            <button class="btn btn-primary btn-block s0" type="submit">
                I want to try again.
            </button>
        </div>
    </div>
</section>
