<section class="container-fluid what-did-we-learn">
    <span class="badge badge-default float-right">{% SESSIONNUM %}.{% PAGENUM %}</span>
    <h1>{% SESSIONTITLE %}</h1>
    <h2>{% TITLE %}</h2>

    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div class="alert alert-info answers-required hidden">
        Please select an answer before continuing.
    </div>
    
    <div class="panel s0">
        <p>
            Is the following statement true or false: Rapid HIV tests
            are available that give you your test result in just a few
            minutes?
        </p>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="wdwl-s1-p0-q1" value="answer-1">
                True
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="wdwl-s1-p0-q1" value="answer-2">
                False
            </label>
        </div>

        <div class="alert alert-success answer-1 hidden" role="alert">
            <div class="alert-heading">Correct</div>
            Testing for the presence of HIV antibodies
            has changed significantly over the past 40 years. “Rapid
            tests” are now available that can be conducted away from a
            facilities, including in privacy of one’s home, and give
            results in less than 30 minutes.
        </div>
        <div class="alert alert-danger answer-2 hidden" role="alert">
            <div class="alert-heading">Incorrect</div>
            Actually, rapid tests are currently available! They can be
            purchased in a pharmacy without a prescription.
        </div>

        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block get-answers">
                    That's my answer
                </button>
                <button class="btn btn-primary btn-block s1 hidden">Next</button>                
            </div>
        </div>

    </div>

    <div class="panel s1 hidden">
        <p>
            Why is it important to check into the WORTH Feelings Check-in Station?
        </p>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="wdwl-s1-p1-q1" value="answer-3">
                Taking care of myself is important
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="wdwl-s1-p1-q1" value="answer-4">
                For help when my car breaks down
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="wdwl-s1-p1-q1" value="answer-5">
                To reflect on how I am doing 
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="wdwl-s1-p1-q1" value="answer-6">
                Choices "a" and "c"
            </label>
        </div>

        <div class="alert alert-warning answer-3 hidden" role="alert">
            <div class="alert-heading">
                Partially Correct
            </div>
            Taking care of yourself is important. Checking into the
            WORTH Feelings Check-in Station also helps you to reflect
            on how you are feeling.
        </div>
        <div class="alert alert-danger answer-4 hidden" role="alert">
            <div class="alert-heading">
                Incorrect
            </div>
            We would pull into a gas station or an auto shop when our
            car breaks down, but the feelings check-in station is
            there to help us reflect on our emotions.
        </div>
        <div class="alert alert-warning answer-5 hidden" role="alert">
            <div class="alert-heading">
                Partially Correct
            </div>
            Checking into the WORTH Feelings Check-in Station does
            help you to reflect on how you are feeling. It is also
            important to take care of yourself as you complete
            WORTH.
        </div>
        <div class="alert alert-success answer-6 hidden" role="alert">
            <div class="alert-heading">
                Correct
            </div>
            Checking into the WORTH Feelings Check-in Station is an
            important way to take care of yourself and it also allows
            you to take time to reflect on how you are feeling on the
            road to your best health.
        </div>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s0">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block get-answers">
                    That's my answer
                </button>
                <button class="btn btn-primary btn-block s2 hidden">Next</button>                
            </div>
        </div>
    </div>

    <div class="panel s2 hidden">
        <p>
            Why is it important to set goals?
        </p>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="wdwl-s1-p2-q1" value="answer-7">
                It is not important to set goals. You can accomplish
                whatever you want if you are lucky.
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="wdwl-s1-p2-q1" value="answer-8">
                Goal setting helps you to achieve something that you want over time.
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="wdwl-s1-p2-q1" value="answer-9">
                Goal setting helps to keep you on track.
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="wdwl-s1-p2-q1" value="answer-10">
                Choices "b" and "c"
            </label>
        </div>

        <div class="alert alert-danger answer-7 hidden" role="alert">
            <div class="alert-heading">
                Incorrect
            </div>
            Setting goals is important. It helps you stay focused on
            what you want to do and complete things over time.
        </div>
        <div class="alert alert-warning answer-8 hidden" role="alert">
            <div class="alert-heading">
                Partially Correct
            </div>
            Setting goals is important because it helps you to
            complete things you want to do over time. Goal setting also
            helps you to stay on track with the things you want to
            accomplish.
        </div>
        <div class="alert alert-warning answer-9 hidden" role="alert">
            <div class="alert-heading">
                Partially Correct
            </div>
            Goal setting helps you to stay on track with the things
            you want to accomplish. Setting goals is also important
            because it helps you to complete things you want to do over
            time.
        </div>
        <div class="alert alert-success answer-10 hidden" role="alert">
            <div class="alert-heading">
                Correct
            </div>
            Setting goals is important since it helps you to complete
            things you want to do over time. It also helps you
            to stay on track with the things you want to accomplish.
        </div>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s1">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block get-answers">
                    That's my answer
                </button>
                <h5 class="hidden swipe-to-move-on">Swipe to move on &rarr;</h5>
            </div>
        </div>
    </div>

</section>
