<section class="container what-did-we-learn">
    <span class="badge badge-default float-right">{% SESSIONNUM %}.{% PAGENUM %}</span>
    <h1>{% SESSIONTITLE %}</h1>
    <h2>{% TITLE %}</h2>

    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div class="panel s0">
        <p>
            True or False: If my sexual partner does not want to use a condom, there is nothing I can do about it.
        </p>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="wdwl-s4-p0-q1" value="answer-1">
                True
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="wdwl-s4-p0-q1" value="answer-2">
                False
            </label>
        </div>

        <div class="alert alert-danger answer-1 hidden" role="alert">
            <div class="alert-heading">Incorrect</div>
            <p>
                There are indeed several options available to me if my
                sexual partner does not want to use a condom. I can
                use the 4 basic steps of the SAFE TALK technique. I
                can also use the "alternative to negotiation"
                technique if it feels unsafe to continue to ask my
                partner to use a condom.
            </p>
        </div>
        <div class="alert alert-success answer-2 hidden" role="alert">
            <div class="alert-heading">Correct!</div>
            <p>
                There are several options available to me if my sexual
                partner does not want to use a condom. I can use the 4
                basic steps of the SAFE TALK technique. I can also use
                the "alternative to negotiation" technique if it feels
                unsafe to continue to ask my partner to use a condom.
            </p>
        </div>

        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block get-answers">
                    That's my answer
                </button>
                <button class="btn btn-primary btn-block s1 hidden">Next</button>                
            </div>
        </div>
    </div>

    <div class="panel s1 hidden">
        <p>
            The social support map is...
        </p>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="wdwl-s4-p1-q1" value="answer-3">
                A map of the people in my life that provide support to me
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="wdwl-s4-p1-q1" value="answer-4">
                A map of a country in Europe named Social
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="wdwl-s4-p1-q1" value="answer-5">
                Something I do when I am feeling social and ready to party
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="wdwl-s4-p1-q1" value="answer-6">
                None of the above
            </label>
        </div>
        
        <div class="alert alert-success answer-3 hidden" role="alert">
            <div class="alert-heading">
                Correct!
            </div>
            <p>
                The social support map is a map of the people in my
                life that provide support to me.
            </p>
        </div>
        <div class="alert alert-danger answer-4 hidden" role="alert">
            <div class="alert-heading">
                Incorrect
            </div>
            <p>
                The social support map is not a map of a country in
                Europe named Social.  It is a map of the people in my
                life that provide support to me. The correct answer is
                "a".
            </p>
        </div>
        <div class="alert alert-danger answer-5 hidden" role="alert">
            <div class="alert-heading">
                Incorrect
            </div>
            <p>
                The social support map is not something I do when I am
                feeling social and ready to party. It is a map of the
                people in my life that provide support to me. The
                correct answer is "a".
            </p>
        </div>
        <div class="alert alert-danger answer-6 hidden" role="alert">
            <div class="alert-heading">
                Incorrect
            </div>
            <p>
                The correct answer is "a". The
                social support map is a map of the people in my life
                that provide support to me.
            </p>
        </div>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s0">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block get-answers">
                    That's my answer
                </button>
                <button class="btn btn-primary btn-block s2 hidden">Next</button>                
            </div>
        </div>

    </div>

    <div class="panel s2 hidden">
        <p>
            About what percentage of session #4 did you complete
            (Select the choice that is the closest.)
        </p>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="wdwl-s4-p2-q1" value="answer-7">
                all or most of it
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="wdwl-s4-p2-q1" value="answer-8">
                about half
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="wdwl-s4-p2-q1" value="answer-9">
                only a few pages
            </label>
        </div>
        <br />
        <p>
            Which of the following things did you try since completing session #4. (Select all that apply.)
        </p>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s4-p2-q2" value="answer-10">
                Practiced meditation on my own
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s4-p2-q2" value="answer-11">
                Told at least one person something I learned in WORTH
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s4-p2-q2" value="answer-12">
                Took an HIV test
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s4-p2-q2" value="answer-13">
                Used condoms more often than before
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s4-p2-q2" value="answer-14">
                Made a doctor's appointment
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s4-p2-q2" value="answer-15">
                Started taking medication for HIV or an STI
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s4-p2-q2" value="answer-16">
                Saw my doctor
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s4-p2-q2" value="answer-17">
                Worked on the goal(s) I set
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s4-p2-q2" value="answer-18">
                Stopped doing at least 1 risk behavior
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s4-p2-q2" value="answer-19">
                Started doing at least 1 protective behavior
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s4-p2-q2" value="answer-20">
                Stored my safety plan in a safe place
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s4-p2-q2" value="answer-21">
                Tried using a female condom
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s4-p2-q2" value="answer-22">
                Worked to strengthen a relationship on my social support map
            </label>
        </div>

        <div class="alert answer-7 answer-8 answer-9
                    answer-10 answer-11 answer-12 answer-13 answer-14 answer-15
                    answer-16 answer-17 answer-18 answer-19 answer-20 answer-21
                    answer-22 hidden" role="alert">
            <p>
                <strong>Good Job!</strong> Keep working toward your goals. Swipe to move on.
            </p>
        </div>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block s1">
                    Back
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block get-answers">
                    That's my answer
                </button>
            </div>
        </div>
    </div>
</section>
