<section class="container what-did-we-learn">
    <span class="badge badge-default float-right">{% SESSIONNUM %}.{% PAGENUM %}</span>
    <h1>{% SESSIONTITLE %}</h1>
    <h2>{% TITLE %}</h2>

    <div class="panel s0">
        <p>
            About what percentage of session #5 did you complete
            (Select the choice that is the closest.)
        </p>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="wdwl-s5-p0-q1" value="answer-7">
                all or most of it
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="wdwl-s5-p0-q1" value="answer-8">
                about half
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="wdwl-s5-p0-q1" value="answer-9">
                only a few pages
            </label>
        </div>
        <br />
        <p>
            Which of the following things did you try since completing session #5. (Select all that apply.)
        </p>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s5-p0-q2" value="answer-10">
                Practiced meditation on my own
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s5-p0-q2" value="answer-11">
                Told at least one person something I learned in WORTH
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s5-p0-q2" value="answer-12">
                Took an HIV test
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s5-p0-q2" value="answer-13">
                Used condoms more often than before
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s5-p0-q2" value="answer-14">
                Made a doctor's appointment
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s5-p0-q2" value="answer-15">
                Started taking medication for HIV or an STI
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s5-p0-q2" value="answer-16">
                Saw my doctor
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s5-p0-q2" value="answer-17">
                Worked on the goal(s) I set
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s5-p0-q2" value="answer-18">
                Stopped doing at least 1 risk behavior
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s5-p0-q2" value="answer-19">
                Started doing at least 1 protective behavior
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s5-p0-q2" value="answer-20">
                Stored my safety plan in a safe place
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s5-p0-q2" value="answer-21">
                Tried using a female condom
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s5-p0-q2" value="answer-22">
                Worked to strengthen a relationship on my social support map
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s5-p0-q2" value="answer-23">
                Used my condom negotiation skills
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s5-p0-q2" value="answer-24">
                Used my alternative to condom negotiation skill
            </label>
        </div>

        <div class="alert alert-info answer-7 answer-8 answer-9
                    answer-10 answer-11 answer-12 answer-13 answer-14 answer-15
                    answer-16 answer-17 answer-18 answer-19 answer-20 answer-21
                    answer-22 answer-23 answer-24 hidden" role="alert">
            <strong>
                Good Job!
            </strong>
            Keep working toward your goals.
        </div>

        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block get-answers">
                    That's my answer
                </button>
                <h5 class="hidden swipe-to-move-on">Swipe to move on &rarr;</h5>
            </div>
        </div>
    </div>
</section>
