<section class="container what-did-we-learn">
    <span class="badge badge-default float-right">Slide {% PAGENUM %} of {% SESSIONLENGTH %}</span>
    <h1>{% SESSIONTITLE %}</h1>
    <h2>{% TITLE %}</h2>

    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Activity Progess</div>
    </div>

    <div class="panel s0">
        <p>
            Which of the following are true of the female condom:
        </p>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="wdwl-s3-p0-q1" value="answer-1">
                protect against STDs
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="wdwl-s3-p0-q1" value="answer-2">
                can be inserted prior to sex
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="wdwl-s3-p0-q1" value="answer-3">
                can increase sexual pleasure
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="wdwl-s3-p0-q1" value="answer-4">
                all of the above
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="wdwl-s3-p0-q1" value="answer-5">
                none of the above
            </label>
        </div>

        <button type="button" class="btn btn-primary btn-block get-answers">
            That's my answer
        </button>

        <div class="alert alert-danger answer-1 hidden" role="alert">
            <div class="alert-heading">Incorrect</div>
            <p>
                While it is true that the female condom protects
                against STDs, it can also be inserted into the vagina
                prior to sex and increases sexual pleasure. As a
                result, the best response is "d" all of the above.
            </p>
            <button type="button" class="btn btn-primary btn-block s1">
                Continue
            </button>
        </div>
        <div class="alert alert-danger answer-2 hidden" role="alert">
            <div class="alert-heading">Incorrect</div>
            <p>
                While it is true that the female condom can be inserted into the
                vagina prior to sex, it also protects against STDs, and increases
                sexual pleasure. As a result, the best response is "d" all of the
                above.
            </p>
            <button type="button" class="btn btn-primary btn-block s1">
                Continue
            </button>
        </div>
        <div class="alert alert-danger answer-3 hidden" role="alert">
            <div class="alert-heading">Incorrect</div>
            <p>
                While it is true that the female condom can be
                inserted into the vagina prior to sex, it also
                protects against STDs, and increases sexual
                pleasure. As a result, the best response is "d" all of
                the above.
            </p>
            <button type="button" class="btn btn-primary btn-block s1">
                Continue
            </button>
        </div>
        <div class="alert alert-success answer-4 hidden" role="alert">
            <div class="alert-heading">Correct!</div>
            <p>
                This is the best response since it is true that the
                female condom can be inserted into the vagina prior to
                sex, it protects against STDs, and increases sexual
                pleasure.
            </p>
            <button type="button" class="btn btn-primary btn-block s1">
                Continue
            </button>
        </div>
        <div class="alert alert-danger answer-5 hidden" role="alert">
            <div class="alert-heading">Incorrect</div>
            <p>
                The best response is "d" all of the above since it is
                true that the female condom can be inserted into the
                vagina prior to sex, it protects against STDs, and
                increases sexual pleasure.
            </p>
            <button type="button" class="btn btn-primary btn-block s1">
                Continue
            </button>
        </div>
    </div>

    <div class="panel s1 hidden">
        <p>
            The names of the women of WORTH are:
        </p>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="wdwl-s3-p1-q1" value="answer-4">
                Charlene, Amanda, Rasheeda, Mia and Sofia
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="wdwl-s3-p1-q1" value="answer-5">
                Shakira, Alicia, Beyonce and Queen Latifah
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="wdwl-s3-p1-q1" value="answer-6">
                Jane, Jill, Jenny and Jackie
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="wdwl-s3-p1-q1" value="answer-7">
                The women of WORTH did not have names
            </label>
        </div>

        <button type="button" class="btn btn-primary btn-block get-answers">
            That's my answer
        </button>

        <div class="alert alert-success answer-4 hidden" role="alert">
            <div class="alert-heading">
                Correct!
            </div>
            <p>
                The names of the women of WORTH are indeed Charlene,
                Amanda, Rasheeda, Mia and Sofia.
            </p>
            <button type="button" class="btn btn-primary btn-block s2">
                Continue
            </button>
        </div>
        <div class="alert alert-danger answer-5 hidden" role="alert">
            <div class="alert-heading">
                Incorrect
            </div>
            <p>
                The names of the women of WORTH are not Shakira,
                Alicia, Beyonce and Queen Latifah. The correct
                response is "a" Charlene, Amanda, Rasheeda, Mia and
                Sofia.
            </p>
            <button type="button" class="btn btn-primary btn-block s2">
                Continue
            </button>
        </div>
        <div class="alert alert-danger answer-6 hidden" role="alert">
            <div class="alert-heading">
                Incorrect
            </div>
            <p>
                The names of the women of WORTH are not Jane, Jill,
                Jenny and Jackie. The correct response is "a"
                Charlene, Amanda, Rasheeda, Mia and Sofia.
            </p>
            <button type="button" class="btn btn-primary btn-block s2">
                Continue
            </button>
        </div>
        <div class="alert alert-danger answer-7 hidden" role="alert">
            <div class="alert-heading">
                Incorrect
            </div>
            <p>
                The women of WORTH do have names. Their names are
                Charlene, Amanda, Rasheeda, Mia and Sofia. The correct
                response is "a".
            </p>
            <button type="button" class="btn btn-primary btn-block s2">
                Continue
            </button>
        </div>
    </div>

    <div class="panel s2 hidden">
        <p>
            True or False: To be extra safe, it is a good idea to use
            the male and female condom at the same time.
        </p>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="wdwl-s3-p2-q1" value="answer-8">
                True
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="wdwl-s3-p2-q1" value="answer-9">
                False
            </label>
        </div>

        <button type="button" class="btn btn-primary btn-block get-answers">
            That's my answer
        </button>

        <div class="alert alert-danger answer-8 hidden" role="alert">
            <div class="alert-heading">
                Incorrect
            </div>
            <p>
                The male and female condom should not be worn at the
                same time. Wearing them at the same time can cause
                them to break. For the best protection, wear either a
                male or a female condom.
            </p>
            <button type="button" class="btn btn-primary btn-block s3">
                Continue
            </button>
        </div>
        <div class="alert alert-success answer-9 hidden" role="alert">
            <div class="alert-heading">
                Correct!
            </div>
            <p>
                For the best protection, wear either a male or a
                female condom. Wearing them at the same time can cause
                them to break.
            </p>
            <button type="button" class="btn btn-primary btn-block s3">
                Continue
            </button>
        </div>
    </div>

    <div class="panel s3 hidden">
        <p>
            About what percentage of session #3 did you complete
            (Select the choice that is the closest.)
        </p>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="wdwl-s3-p3-q1" value="answer-10">
                all or most of it
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="wdwl-s3-p3-q1" value="answer-11">
                about half
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="wdwl-s3-p3-q1" value="answer-12">
                only a few pages
            </label>
        </div>
        <br />
        <p>
            Which of the following things did you try since completing
            session #3. (Select all that apply.)
        </p>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s3-p3-q2" value="answer-13">
                Practiced meditation on my own
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s3-p3-q2" value="answer-14">
                Told at least one person something I learned in WORTH
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s3-p3-q2" value="answer-15">
                Took an HIV test
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s3-p3-q2" value="answer-16">
                Used condoms more often than before
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s3-p3-q2" value="answer-17">
                Made a doctor's appointment
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s3-p3-q2" value="answer-18">
                Started taking medication for HIV or an STI
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s3-p3-q2" value="answer-19">
                Saw my doctor
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s3-p3-q2" value="answer-20">
                Worked on the goal(s) I set
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s3-p3-q2" value="answer-21">
                Stopped doing at least 1 risk behavior
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="wdwl-s3-p3-q2" value="answer-22">
                Started doing at least 1 protective behavior
            </label>
        </div>
        <button type="button" class="btn btn-primary btn-block get-answers">
            That's my answer
        </button>

        <div class="alert alert-success answer-10 answer-11 answer-12
        answer-13 answer-14 answer-15 answer-16 answer-17 answer-18
        answer-19 answer-20 answer-21 answer-22 hidden" role="alert">
            <div class="alert-heading">
                Good Job!
            </div>
            <p>
                Keep working toward your goals.
            </p>
            <p>
                <i>This activity is complete. Swipe left to continue.</i>
            </p>
        </div>
    </div>
</section>
