.hidden {
    display: none;
}

.safety .row  {
    margin-bottom: 1em;
}
.safety .row .col.definition {
    text-align: right;
}

/*
 * Not sure why this is necessary, but bootstrap's .btn-block is
 * displaying buttons wider than the .container. This is a workaround.
 */
.btn-block {
    width: 90%;
    margin: 0 auto;
}

.container.feeling .row {
    text-align: center;
}

.toggle-toc-icon {
    position: fixed;
    text-align: center;
    width: 100%;
    left: 0;
    bottom: 10px;
    z-index: 10;
}

.toggle-toc-icon>img {
    cursor: pointer;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 9; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #ddd;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 30px;
}

.sidenav ol {
    padding-left: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

.sidenav li {
    list-style: none;
    margin-bottom: 1rem;
}

/* The navigation menu links */
.sidenav a {
    text-decoration: none;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

img.half-width {
    max-width: 50%;
}

li.highlight {
    font-weight: bold;
}