@media only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5)
{
    body { font-size: 150%; }
    body button.btn { font-size: 110%; }
}

body {
    background-color: #932951;
    background-image: url("../img/floral-screen-025.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: static;
}

h1, h2, h3, h4,h5 {color: #932951; font-family: arial, helvetica, sans-serif!important}

.swiper-slide h1 {font-size: 1.5em;}
.swiper-slide h2 {font-size: 3em;}

p, ol, ul, li {color: #000000; font-family: arial, helvetica, sans-serif!important}

.hidden { display: none; }
.safety .row { margin-bottom: 1em; }
.safety .row .col.definition { text-align: right; }

.embed-responsive {
    margin-bottom: 1em;
}

/*
 * Not sure why this is necessary, but bootstrap's .btn-block is
 * displaying buttons wider than the .container. This is a workaround.
 */

.btn-block
{
    width: 90%;
    margin: 0 auto;
}

.container.feeling .row { text-align: center; }

.toggle-toc-icon
{
    position: fixed;
    left: 10px;
    top: 50%;
    z-index: 10;
}

.toggle-toc-icon>img { cursor: pointer; }

/* The side navigation menu */
.sidenav
{
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 9;
    /* Stay on top */
    top: 0;
    left: 0;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding: 1.25em 0em 1.25em 2.75em;
    background-color: #000;
    color: #fff;
}

/* all list items */
.sidenav li
{
    list-style: none;
    margin-top: 1em!important;

}

/* all navigation menu links */
.sidenav a
{
    text-decoration: none;
    display: block;
    color: #fff;
}

/* when you mouse over all navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus { color: #f7ecf0; text-decoration: underline; }

/* Position and style the close button (top right corner) */
.sidenav .closebtn
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav ol.nav-toc
{
    padding-left: 1.25em;
}

.sidenav ol.nav-toc>li
{
    font-weight: bold; font-size: 1.5em; border-top: 1px solid #fff; padding-top: .5em; color: #f7ecf0;
}

.sidenav ol.nav-toc ol
{
padding-left: 0em;
}

.sidenav ol.nav-toc ol li
{
    font-weight: normal; font-size: .7em;
}



/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main { padding: 20px; }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px)
{
    .sidenav { padding-top: 15px; }
    .sidenav a { font-size: 18px; }
}

img.half-width { max-width: 50%; }

li.highlight {  background-color: #932951; }
li.highlight  a { color: yellow;  font-weight: bold; padding: .5em 0em .5em .5em;}

img#logo {
    cursor: pointer;
    width: 180px;
    margin-left: 20px;
}

.swiper-wrapper {margin-top: 3em; margin-left: 1.5em;}

.swiper-slide .container {
    background-color: rgba(247,236,240,1);
    padding: 3em;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    min-height: 600px;
}

.progress {margin-bottom: 3em;}
.alert {margin-top: 2em;}
.alert-heading {font-weight: bold;}
.btn-primary {background-color: #932951; border-color: #932951;}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    background-color: #000;
    border-color: #000;
}

.feelings figure img {
    cursor: pointer;
}

.things-i-am-proud-of .flex-column button,
.i-am-worth-it .flex-column button {
    margin-right: .5em;
    margin-left: .5em;
    margin-bottom: 1em;
}

/* toc page */
ol.toc li a {color: black;}
ol.toc li {font-weight: bold;}
ol.toc li li {font-weight: normal;}

.worth-icon {
    width: 200px;
    height: auto;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.feelings figure {
    margin-bottom: 0;
}

.feelings .feelings-label {
    margin-bottom: 1rem;
}

.feelings .feelings-choice {
    margin-bottom: 20px;
}

.feelings .feelings-choice img {
    width: 20%;
}
.ssnm-closeness-container {
    position: relative;
    left: 80px;
    top: -20px;
    font-size: 1.75rem;
}

.ssnm-button {margin-top: 1em;}

.ssnm-questions {margin-bottom: 1.5em;}
.ssnm-questions:last-of-type {margin-bottom: 1em;}
.ssnm-questions .col-md-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ssnm-questions .col-md-1 img {max-width: 65%;}

.ssnm-me {font-size: 1.75rem;}

.nametag {margin-top: 2em; margin-bottom: 2em; margin-left: 20%; margin-right: 20%;}
.nametag .card-header, .nametag .card-footer {background-color: #932951;}
.nametag .card-block {background-color: #fff;}
.nametag .card-header h1 {color: #fff;}

.progress {background-color: #fafafa; margin-top: 1em;}
.progress-bar {height: 1.5em; padding: .5em 0em;}

.alert p {font-size: 1.5em;}

.swipe-to-move-on {
    text-align: right;
    margin-right: 0px;
    margin-top: 12px;
    color: #000000;
    font-size: 1.75rem;
}

.my-commitment-choice {
    font-weight: bold;
}

div.pb-feedback {margin-bottom: 1em;}

/* override bootstrap default */
.btn-block+.btn-block {
    margin-top: 0;
}

ul.proud-of {
    list-style: none;
}

.myth-fact .learn-more {
    margin-top: 20px;
}
