@media only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5)
{
    body { font-size: 150%; }
    body button.btn { font-size: 150%; }
}

body *  {font-family: arial, helvetica, sans-serif!important;}

.hidden { display: none; }
.safety .row { margin-bottom: 1em; }
.safety .row .col.definition { text-align: right; }

/*
 * Not sure why this is necessary, but bootstrap's .btn-block is
 * displaying buttons wider than the .container. This is a workaround.
 */

.btn-block
{
    width: 90%;
    margin: 0 auto;
}

.container.feeling .row { text-align: center; }

.toggle-toc-icon
{
    position: fixed;
    width: 100%;
    left: 15px;
    top: 50%;
    z-index: 10;
}

.toggle-toc-icon>img { cursor: pointer; }

/* The side navigation menu */
.sidenav
{
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 9;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #932951;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding: 1.25em 0em 1.25em 2.75em;
    background-image: url("../img/floral-screen-025.png");
    background-repeat: no-repeat;
    background-position: -450px top;
    background-attachment: static;
    color: #fff;
}

/* all list items */
.sidenav li
{
    list-style: none;
    margin-top: 1em!important;

}

/* all navigation menu links */
.sidenav a
{
	text-decoration: none;
	display: block;
	color: #fff;
}

/* when you mouse over all navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus { color: #f7ecf0; text-decoration: underline; }

/* Position and style the close button (top right corner) */
.sidenav .closebtn
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav ol.nav-toc
{
    padding-left: 1.25em;
}

.sidenav ol.nav-toc>li
{
    font-weight: bold; font-size: 1.5em; border-top: 1px solid #fff; padding-top: .5em; color: #f7ecf0;
}

.sidenav ol.nav-toc ol
{
padding-left: 0em;
}

.sidenav ol.nav-toc ol li
{
    font-weight: normal; font-size: .7em;
}



/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main { padding: 20px; }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px)
{
    .sidenav { padding-top: 15px; }
    .sidenav a { font-size: 18px; }
}

img.half-width { max-width: 50%; }

li.highlight {  background-color: #fff; }
li.highlight  a { color: #000;  font-weight: bold; padding: .5em 0em .5em .5em;}


.swiper-container {
    margin: 5em;
}

img#logo {width: 200px; margin-left: 20px;}